.xmx-box{
  min-width: 600px;
  min-height:500px;
  position: relative;
  overflow: hidden;
}
#main-image-container{
  width:80%;
  height:80%;
  min-width: 500px;
  min-height:400px;
  position: absolute;
  overflow: hidden;
  background: url('http://192.168.1.110:3030/source/xmx1.jpg') no-repeat;
}

.xmx-tag{
  width:150px;
  height:80px;
  position: absolute;
  overflow: hidden;
  cursor: move;
}
.tag-reset{
  position:absolute;
  width:80px;
  height:40px;
  top:0px;
  right:100px;
}

#tag1{
  /*top:0px;
  left:0px;*/
  /*border:1px solid red;*/
}
#tag2{
  /*top:0px;
  left:180px;*/
  /*border:1px solid blue;*/
}
#tag3{
  /*top:0px;
  left:360px;*/
  /*border:1px solid green;*/
}
#tag4{
  /*top:0px;
  left:540px;*/
  /*border:1px solid yellow;*/
}
#tag5{
  /*top:0px;
  left:720px;*/
  /*border:1px solid black;*/
}
.tag-statuscontainer{
  width:100px;
  height:20px;
}

.tag-status{
  width:20px;
  height:20px;
  float: left;
  background-color: red;
}
.tag-statustext{
  width:60px;
  height:20px;
  margin-left: 10px;
  float: left;
}

.tag-label{
  float: left;
}
.tag-text{
  float: right;
  color:#a6a6a7;
}
