.xmx-mainContainer{
  width:100%;
  height:100%;
  position: relative;
  /*overflow: hidden;*/
}
.xmx-left-bar{
  width:10px;
  height:90%;
  line-height: 90%;
  position: absolute;
  left:-20px;
  top:5%;
  /*top:20px;*/
  margin:0 auto;
  background-color: #e37833;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 999;
}
.xmx-left-bar img{
  position: absolute;
  right:0;
  top:45%;
  width:10px;
  height: 16px;
}
.xmx-topbar{
  height:40px;
}
.xmx-box{
  width:100%;
  height:80%;
  min-width: 600px;
  min-height:500px;
  position: relative;
  overflow: hidden;
  z-index: 998;
}

.xmx-bottom{
  width:100%;
  height:200px;
  /*background-color:#4be9f2;*/
}
#main-left-container{
  width:80%;
  height:100%;
  min-width: 500px;
  min-height:400px;
  position: absolute;
  overflow: hidden;
  background-color: red
  /*background: url('http://192.168.1.110:3030/source/xmx1.jpg') no-repeat;*/
}

#main-right-container{
  width:20%;
  height:100%;
  position: absolute;
  right:0;
  top:0;
  /*background-color: blue*/
}

.xmx-tag{
  width:150px;
  height:80px;
  position: absolute;
  overflow: hidden;
  cursor: move;
}
.tag-reset{
  position:absolute;
  width:80px;
  height:40px;
  top:0px;
  right:100px;
}
.xmx-image{
  width:100%;
  height:100%;
}

#tag1{
  /*top:0px;
  left:0px;*/
  /*border:1px solid red;*/
}
#tag2{
  /*top:0px;
  left:180px;*/
  /*border:1px solid blue;*/
}
#tag3{
  /*top:0px;
  left:360px;*/
  /*border:1px solid green;*/
}
#tag4{
  /*top:0px;
  left:540px;*/
  /*border:1px solid yellow;*/
}
#tag5{
  /*top:0px;
  left:720px;*/
  /*border:1px solid black;*/
}
.tag-statuscontainer{
  width:100px;
  height:20px;
}

.tag-status{
  width:20px;
  height:20px;
  float: left;
  background-color: red;
}
.tag-statustext{
  width:60px;
  height:20px;
  margin-left: 10px;
  float: left;
}

.tag-label{
  float: left;
}
.tag-text{
  float: right;
  color:#a6a6a7;
}

.xmx-title1{
  text-align: right;
  padding:5px;
  font-size: 24px;
}
.xmx-title1 label{
  color:#969698
}

.right-status{
  margin-top: 40px;
  max-width: 300px;
}

.bottom-itemContainer{
  width:60%;
  height:100%;
  float: left;
  /*background-color: #81aad5*/
}
.bottom-lineContainer{
  width:40%;
  height:100%;
  float: left;
  background-color: #e9d8bd
}
.bottom-item{
  width:50%;
  height:25%;
  float: left;
}
.item-label{
  width:50%;
  height:100%;
  float: left;
  text-align: center;
  padding:12px 0;
  color: #f28130;
  font-size: 18px;
}
.item-content{
  width:50%;
  height:50%;
  margin-top: 12px;
  float: left;
  text-align: center;
  padding:5px 0;
  color: #d7dadb;
  background-color: #92979f;
  font-size: 14px;
}

.line-tabContainer{
  
}
