<!-- <div class="page-sidebar navbar-collapse collapse"> -->
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <!-- <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}"> -->
        <li class="heading">
            <h3 class="uppercase">设备运营</h3>
        </li>
        <li class="active nav-item">
            <a href="#/main/device/monitor">
                <i class="icon-diamond"></i>
                <span class="title">设备监控</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#/main/device/alarm">
                <i class="icon-bulb"></i>
                <span class="title">报警中心</span>
            </a>
        </li>

        <li class="nav-item" ng-if="showMonitorScreen==1">
            <a href="#/main/device/monitorscreen1">
                <i class="fa fa-tv"></i>
                <span class="title">大屏监控</span>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a href="javascript:;" class="nav-link">
                <i class="icon-puzzle"></i>
                <span class="title">设备台账</span>
            </a>
        </li> -->
        <!-- <li class="nav-item">
            <a href="javascript:;" class="nav-link">
                <i class="icon-briefcase"></i>
                <span class="title">检修维护</span>
            </a>
        </li> -->
        <!-- <li class="nav-item">
            <a href="javascript:;" class="nav-link">
                <i class="icon-pointer"></i>
                <span class="title">服务管理</span>
            </a>
        </li> -->
        <!-- <li class="nav-item">
            <a href="javascript:;" class="nav-link">
                <i class="icon-magnet"></i>
                <span class="title">客户管理</span>
            </a>
        </li> -->
        <!-- <li class="nav-item">
            <a href="javascript:;" class="nav-link">
                <i class="icon-briefcase"></i>
                <span class="title">物料管理</span>
            </a>
        </li> -->
        <!--
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" ng-click='saveModalMsg()'>
                <i class="icon-pointer"></i>
                <span class="title">SIM卡管理</span>
                <span class="badge badge-danger"> vip </span>
            </a>
        </li>
        -->
        <!-- <li class="nav-item">
            <a href="javascript:;" class="nav-link">
                <i class="icon-briefcase"></i>
                <span class="title">综合管理</span>
            </a>
        </li> -->
        <!-- <li class="nav-item">
            <a href="javascript:;" class="nav-link">
                <i class="icon-lock"></i>
                <span class="title">访问控制</span>
            </a>
        </li> -->
    <!-- </ul> -->

    <!-- END SIDEBAR MENU -->
<!-- </div> -->
