@font-face {
    font-family: 'ledstyle1';
    src: url('../fonts/number.otf');
}

@font-face {
    font-family: 'ledstyle2';
    src: url('../fonts/longzhoufeng.ttf');
}

.led-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.led-text-value {
    display: flex;
    height: 20%;
    width: 100%;
    font-size: 3vw;
    font-family: ledstyle1;
    color: #4289f4;
    word-break: break-all;
    word-wrap:break-word;
    align-items: center;
    justify-content: center;

}
.led-text-unit {
    display: flex;
    height: 20%;
    width: 100%;
    font-size: 2vw;
    font-family: ledstyle1;
    color: #9e9e9e;
    word-break: break-all;
    word-wrap:break-word;
    align-items: center;
    justify-content: center;

}
