<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <!-- <a href="#">资产管理</a> -->
            <span>资产管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>仓储管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>仓库管理</span>
        </li>
    </ul>
</div>
<br class="">
<div class="row">
    <div class="col-md-12">
      <form class="form-horizontal form-row-seperated" action="#">
          <div class="portlet light portlet-fit portlet-datatable bordered">
              <div class="portlet-title">
                  <div class="caption">
                      <i class="icon-settings font-dark"></i>仓库管理</div>

              </div>
              <div class="portlet-body">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="btn-group">
                              <a href="#" role="button" class="btn sbold green" data-toggle="modal" ng-click="saveModalMsg()">添加
                                  <i class="fa fa-plus"></i>
                              </a>
                              <a href="#" role="button" class="btn  sbold blue " ng-click='saveModalMsg()'>编辑<i class="fa fa-edit"></i>
                              </a>
                              <a href="#" role="button" class="btn sbold red " ng-click='saveModalMsg()' >删除<i class="fa fa-times"></i>
                              </a>
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <script type="text/ng-template" id="headerCheckbox.html">
                        <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" />
                      </script>
                      <table ng-table="tableParams"  class="table table-striped table-bordered table-hover table-checkable order-column" style="margin-top: 5px">
                          <tbody>
                              <tr class="odd gradeX" ng-repeat="param in  $data" style=" text-align: center;">
                                  <td header="'headerCheckbox.html'"><input type="checkbox" ng-model="checkboxes.items[param.warehouseId]" /></td>
                                  <td title="'仓库ID'">{{param.warehouseId}}</td>
                                  <td title="'仓库名称'">{{param.name}}</td>
                                  <td title="'备注'">{{param.comments}}</td>
                                  <td title="'时间'">{{param.updateTime}}</td>
                                  <td title="'操作'">
                                      <div class="margin-bottom-5">
                                        <a ui-sref="#" class="btn btn-sm btn-success sbold blue "><i class="fa fa-plus"></i>仓位
                                        </a>
                                      </div>

                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>

              </div>
          </div>
      </form>
    </div>
</div>
