<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>知识管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>培训文档</span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">培训文档</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div id="myModal_createTrainingDoc" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">创建培训文档</h4>
                                </div>
                                <div class="modal-body form">
                                    <form action="" class="form-horizontal form-row-seperated">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">*标题</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="name" ng-model="currentData.title" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">*描述</label>
                                            <div class="col-sm-8">
                                              <input type="textarea" id="description" ng-model="currentData.description" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">*内容</label>
                                            <div class="col-sm-8">
                                              <input type="textarea" id="content" ng-model="currentData.content" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group last">
                                            <label class="col-sm-4 control-label">标签</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="tag" ng-model="currentData.tag" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">上传文件</label>
                                            <div class="col-sm-8">
                                              <div id="fine-uploader-gallery-update"></div>
                                      				<input id="pathUpdate" type="hidden" class="form-control"  name="path" maxlength="500">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn grey-salsa btn-outline" ng-click='createDismiss()'>取消操作</button>
                                    <button type="button" class="btn green"  ng-click='saveCreateTrainingDoc()'><i class="fa fa-check"/> 确定添加 </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="myModal_updateTrainingDoc" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">更新培训文档</h4>
                                </div>
                                <div class="modal-body form">
                                    <form action="" class="form-horizontal form-row-seperated">
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">*标题</label>
                                          <div class="col-sm-8">
                                              <input type="text" id="name" ng-model="currentData.title" class="form-control" />
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">*描述</label>
                                          <div class="col-sm-8">
                                            <input type="textarea" id="description" ng-model="currentData.description" class="form-control" />
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">*内容</label>
                                          <div class="col-sm-8">
                                            <input type="textarea" id="content" ng-model="currentData.content" class="form-control" />
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label class="col-sm-4 control-label">标签</label>
                                          <div class="col-sm-8">
                                              <input type="text" id="tag" ng-model="currentData.tag" class="form-control" />
                                          </div>
                                      </div>

                                      <div class="form-group last">
                                            <label class="col-sm-4 control-label">上传文件</label>
                                            <div class="col-sm-8">
                                              <div id="fine-uploader-gallery"></div>
                                      				<input id="path" type="hidden" class="form-control"  name="path" maxlength="500">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn grey-salsa btn-outline" ng-click='updateDismiss()'>取消操作</button>
                                    <button type="button" class="btn green" ng-click='saveUpdateTrainingDoc()'><i class="fa fa-check"/> 确定修改 </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="myModal_deleteTrainingDoc" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">删除培训文档</h4>
                                </div>
                                <div class="modal-body form skin skin-line">
                                    <form action="" class="form-horizontal form-row-seperated" name="form">
                                        <div class="form-group">
                                                您确定要删除培训文档 {{deletestr}} 吗?
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn grey-salsa btn-outline " ng-click='deleteDismiss()' >取消操作</button>
                                    <button type="button" class="btn green"  ng-click='saveDeleteTrainingDoc()'>
                                        <i class="fa fa-check"></i> 确定删除 </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="myModal_alert" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">提示</h4>
                                </div>
                                <div class="modal-body">{{message}}

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn green"  ng-click='disalert()'>
                                        <i class="fa fa-check"></i> 确定 </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a href="#" role="button" class="btn sbold green" data-toggle="modal" ng-click="addTrainingDoc()">新建
                                    <i class="fa fa-plus"></i>
                                </a>
                                <a href="#" role="button" class="btn sbold blue" data-toggle="modal" ng-click="updateTrainingDoc()">编辑
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="#" role="button" class="btn sbold red" data-toggle="modal" ng-click="deleteTrainingDoc()">删除
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <script type="text/ng-template" id="headerCheckbox.html">
                      <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" />
                    </script>
                    <table ng-table="tableParams"  class="table table-striped table-bordered table-hover table-checkable order-column" style="margin-top: 5px">
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="param in  $data" style=" text-align: center;">
                                <td header="'headerCheckbox.html'"><input type="checkbox" ng-model="checkboxes.items[param.id]" /></td>
                                <td title="'标题'">{{param.title}}</td>
                                <td title="'标签'">{{param.tag}}</td>

                                <td title="'附件'">
                                    <a target="_blank" href="{{param.pathURI}}" class="btn btn-sm green">
                                        查看
                                    </a>
                                </td>

                                <!-- <td title="'附件'">{{param.pathURI}}</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<script type="text/template" id="qq-template-gallery">
  <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="拖拽文档文件到此处……">
    <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
      <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
    </div>
    <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
      <span class="qq-upload-drop-area-text-selector"></span>
    </div>
    <div class="qq-upload-button-selector qq-upload-button">
      <div>上传文件</div>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
              <span>Processing dropped files...</span>
              <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
      <li>
        <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
        <div class="qq-progress-bar-container-selector qq-progress-bar-container">
          <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <div class="qq-thumbnail-wrapper">
          <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
        </div>
        <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
        <button type="button" class="qq-upload-retry-selector qq-upload-retry">
          <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
          重试
        </button>

        <div class="qq-file-info">
          <div class="qq-file-name">
            <span class="qq-upload-file-selector qq-upload-file"></span>
            <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
          </div>
          <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
          <span class="qq-upload-size-selector qq-upload-size"></span>
          <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
            <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
          </button>
          <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
            <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
          </button>
          <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
            <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
          </button>
        </div>
      </li>
    </ul>

    <dialog class="qq-alert-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">关闭</button>
      </div>
    </dialog>

    <dialog class="qq-confirm-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">取消</button>
        <button type="button" class="qq-ok-button-selector">确定</button>
      </div>
    </dialog>

    <dialog class="qq-prompt-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <input type="text">
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">取消</button>
        <button type="button" class="qq-ok-button-selector">确定</button>
      </div>
    </dialog>
  </div>
</script>
<script type="text/template" id="qq-template-gallery-update">
  <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="拖拽文档文件到此处……">
    <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
      <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
    </div>
    <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
      <span class="qq-upload-drop-area-text-selector"></span>
    </div>
    <div class="qq-upload-button-selector qq-upload-button">
      <div>上传文件</div>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
              <span>Processing dropped files...</span>
              <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
      <li>
        <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
        <div class="qq-progress-bar-container-selector qq-progress-bar-container">
          <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <div class="qq-thumbnail-wrapper">
          <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
        </div>
        <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
        <button type="button" class="qq-upload-retry-selector qq-upload-retry">
          <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
          重试
        </button>

        <div class="qq-file-info">
          <div class="qq-file-name">
            <span class="qq-upload-file-selector qq-upload-file"></span>
            <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
          </div>
          <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
          <span class="qq-upload-size-selector qq-upload-size"></span>
          <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
            <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
          </button>
          <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
            <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
          </button>
          <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
            <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
          </button>
        </div>
      </li>
    </ul>

    <dialog class="qq-alert-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">关闭</button>
      </div>
    </dialog>

    <dialog class="qq-confirm-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">取消</button>
        <button type="button" class="qq-ok-button-selector">确定</button>
      </div>
    </dialog>

    <dialog class="qq-prompt-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <input type="text">
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">取消</button>
        <button type="button" class="qq-ok-button-selector">确定</button>
      </div>
    </dialog>
  </div>
</script>
