<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <!-- <a href="index.html">资产管理</a> -->
            <span>资产管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备信息管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备模型接入</span>
        </li>
    </ul>
    <div class="page-toolbar">

    </div>
</div>

<br>

<div class="row">
  <div class="portlet light portlet-fit portlet-datatable bordered">
      <div class="portlet-title">
          <div class="caption">
              <i class="icon-settings font-dark"></i>设备接入设置
          </div>
          <div class="btn-group pull-right">
            <a href="#" role="button" class="btn btn-sm btn-success sbold green margin-bottom" ng-click='goback()'><i class="fa fa-reply"></i>返回
            </a>
          </div>
      </div>
      <div class="portlet-body">
        <div id="myModal_selectDTU" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">选择DTU</h4>
                    </div>
                    <div class="modal-body form">
                        <form action="" class="form-horizontal form-row-seperated">
                          <div class="form-group last">
                            <label class="col-sm-4 control-label">选择DTU</label>
                              <div class="col-sm-6">
                                  <select class="form-control" ng-model="currentselectDTU" ng-change="selectDtu()"  ng-options="o.name for o in DTUlist"></select>
                              </div>
                          </div>
                          <div class="col-sm-8 control-label">
                            <a href="#" ng-click='showCreateDTU()'>没有合适的dtu?点我新建</a>
                          </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey-salsa btn-outline" ng-click='updateselectDTUDismiss()'>取消操作</button>
                        <button type="button" class="btn green"  ng-click='updateselectDTU()'><i class="fa fa-check"/> 确定 </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal_createDTU" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">新建DTU</h4>
                    </div>
                    <div class="modal-body form">
                        <form action="" class="form-horizontal form-row-seperated">
                          <div class="form-group">
                              <label class="col-sm-4 control-label">
                                  名称</label>
                              <div class="col-sm-6">
                                  <input type="text" ng-model="newDTU.name" class="form-control" required/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-4 control-label">
                                  心跳包</label>
                              <div class="col-sm-6">
                                  <input type="text" ng-model="newDTU.heartData" class="form-control" required/>
                              </div>
                          </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey-salsa btn-outline" ng-click='createDTUDismiss()'>取消操作</button>
                        <button type="button" class="btn green"  ng-click='createDTU()'><i class="fa fa-check"/> 确定 </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <form action="" class="form-horizontal form-row-seperated" name="form">
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        设备名称</label>
                    <div class="col-sm-6">
                        <label class="form-control">{{equipmentname}}</label>
                    </div>
                </div>
                <div class="form-group last">
                    <label class="col-sm-4 control-label">链接协议</label>
                    <div class="col-sm-6">
                      <label class="form-control">{{protocolName}}</label>
                    </div>
                </div>

            </form>
          </div>
          <div class="col-md-6" id="MB-RTU">
            <form action="" class="form-horizontal form-row-seperated">
              <div class="form-group">
                  <label class="col-sm-4 control-label">
                    采集频率
                  </label>
                  <div class="col-sm-6">
                      <div class="input-group">
                          <input type="number" ng-model="modbusRtuPeriod" class="form-control col-sm-5"  required/>
                          <span class="input-group-addon">秒</span>
                      </div>
                  </div>
              </div>
              <div class="form-group last">
                  <label class="col-sm-4 control-label">连接DTU</label>
                  <div class="col-sm-6 ">
                      <label class="form-control ">{{currentDTUname}}</label>
                  </div>
                  <div class="col-sm-2 ">
                    <a href="#" class='pull-left' style="padding-top:10px" ng-click='showSelectDTU()'>修改</a>
                  </div>
              </div>

              <!-- <div class="col-sm-6 col-sm-offset-4">
                <a href="#/main/asset/dtumanage">没有合适的dtu?点我新建</a>
              </div> -->
            </form>
            <div class="col-md-2 col-md-offset-10">
              <a href="#" role="button" class="btn btn-sm btn-success sbold green margin-bottom" ng-click='saveConnectInfo()'><i class="fa fa-edit"></i>保存
              </a>

            </div>
          </div>
          <div class="col-md-6" id="JK">
            <form action="" class="form-horizontal form-row-seperated">
              <div class="form-group">
                  <label class="col-sm-4 control-label">
                      库智设备ID</label>
                  <div class="col-sm-6">
                      <input type="text" ng-model="grm" class="form-control"  required/>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-4 control-label">
                    设备密码
                  </label>
                  <div class="col-sm-6">
                      <input type="text" ng-model="grmPassword" class="form-control"  required/>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-4 control-label">
                    采集频率
                  </label>
                  <div class="col-sm-6">
                      <div class="input-group">
                          <input type="number" ng-model="grmPeriod" class="form-control col-sm-5"  required/>
                          <span class="input-group-addon">秒</span>
                      </div>
                  </div>
              </div>
            </form>
            <div class="col-md-2 col-md-offset-10">
              <a href="#" role="button" class="btn btn-sm btn-success sbold green margin-bottom" ng-click='saveConnectInfo()'><i class="fa fa-edit"></i>保存
              </a>
              <!-- <a href="#" role="button" class="btn btn-sm btn-success sbold green margin-bottom" ng-click='goback()'><i class="fa fa-reply"></i>返回
              </a> -->
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="portlet light portlet-fit portlet-datatable bordered showDTUDetail">
      <div class="portlet-title">
          <div class="caption">
              <i class="icon-settings font-dark"></i>DTU详情
          </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-12" id="MB-RTU">
              <div class="form-group col-md-6">
                  <label class="col-sm-4 control-label">
                      Ip</label>
                  <div class="col-sm-8">
                      <label class="form-control">{{accessdev.ip}}</label>
                  </div>
              </div>
              <div class="form-group col-md-6">
                <label class="col-sm-4 control-label">
                    接入注册包</label>
                <div class="col-sm-8">
                    <label class="form-control">{{currentDTU.dtuId}}</label>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label class="col-sm-4 control-label">
                    端口号</label>
                <div class="col-sm-8">
                    <label class="form-control">{{accessdev.port}}</label>
                </div>
              </div>
              <div class="form-group col-md-6">
                  <label class="col-sm-4 control-label">
                      心跳包格式</label>
                  <div class="col-sm-8">
                      <label class="form-control">{{currentDTU.heartData}}</label>
                  </div>
              </div>
              <div class="form-group col-md-6">
                <label class="col-sm-4 control-label">
                    采集频率</label>
                <div class="col-sm-8">
                    <label class="form-control">{{currentDTU.modbusRtuPeriod}}</label>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label class="col-sm-2 control-label">
                    设备和地址</label>
                <div class="col-sm-10">
                  <div class="pull-left">
                    <div class="text-center pull-left" ng-repeat="item in dtudevices" style="width: 500px;height: 30px;line-height:30px;margin-top:1px;background-color:#e9e9e9">
                      <div ng-if="item.checked">
                        <label class="pull-left text-center" style="width: 80px;height:30px;line-height:30px">从站地址:</label>
                        <div class="pull-left text-center" style="width: 80px;height:30px;line-height:30px;">
                          <a href="javascript:;" class="pull-left btn btn-icon-only solid" style="width:20px;height:20px">
                              <i class="fa fa-minus"></i>
                          </a>
                          <Input type="number" class="pull-left" style="width: 40px;height:30px;line-height:30px" ng-model="item.salveId"/>
                          <a href="javascript:;" class="pull-left btn btn-icon-only solid" style="width:20px;height:20px">
                              <i class="fa fa-plus"></i>
                          </a>
                        </div>

                        <div class="pull-left text-center" style="width:140px;height:30px;line-height:30px">
                            <label >{{item.name}}</label>
                        </div>
                        <div class="pull-left text-center" ng-show="item.checked" style="width:40px;height:30px;line-height:30px">
                          <a href="javascript:;" class="pull-left" style="width:80px;height:20px">保存修改
                          </a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
</div>

<div id="myModal_alert" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">{{message}}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green"  ng-click='disalert()'>
                    <i class="fa fa-check"></i> 确定 </button>
            </div>
        </div>
    </div>
</div>
