<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <!-- <a href="#">产线管理</a> -->
            <span>产线管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>产线信息管理</span>
        </li>
    </ul>
</div>
<br class="">
<div class="row">
    <div class="col-md-12">
      <form class="form-horizontal form-row-seperated" action="#">
          <div class="portlet light portlet-fit portlet-datatable bordered">
              <div class="portlet-title">
                  <div class="caption">
                      <i class="icon-settings font-dark"></i>产线列表</div>
              </div>
              <div class="portlet-body">
                  <div id="myModal_createDevice" class="modal fade" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                  <h4 class="modal-title">创建产线</h4>
                              </div>
                              <div class="modal-body form skin skin-line">
                                  <form action="" class="form-horizontal form-row-seperated" name="form">
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              产线名称</label>
                                          <div class="col-sm-6">
                                              <input type="text" ng-model="currentData.name" class="form-control" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              产线编号</label>
                                          <div class="col-sm-6">
                                              <input type="text" ng-model="currentData.number" class="form-control" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              产线序列号</label>
                                          <div class="col-sm-6">
                                              <input type="text" ng-model="currentData.serialNumber" class="form-control" required/>
                                          </div>
                                      </div>
                                      <div class="form-group last">
                                          <label class="col-sm-4 control-label">产线模型</label>
                                          <div class="col-sm-4">
                                              <select class="form-control" ng-model="selectedmodel" ng-options="x.name for x in modellist" required>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">产线图片</label>
                                          <div class="col-sm-6">
                                            <div id="fine-uploader-gallery"></div>
                                    				<input id="imagePath" type="hidden" class="form-control"  name="imagePath" maxlength="500">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">地区</label>
                                          <div class="col-sm-3">
                                              <select class="form-control" ng-model="currentData.province"  ng-options="o.id as o.text for o in provinceList" ng-change="doProvAndCityRelation()"></select>
                                          </div>
                                          <div class="col-sm-3">
                                              <select class="form-control" ng-model="currentData.city"  ng-options="o.id as o.text for o in cityList" ng-change="doGetCity()"></select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">产线位置</label>
                                          <label class="col-sm-2 control-label">经度</label>
                                          <div class="col-sm-3">
                                              <input type="number"  id='formlongitude1' class="form-control" placeholder="经度" ng-model="currentData.longitude" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label"></label>
                                          <label class="col-sm-2 control-label">纬度</label>
                                          <div class="col-sm-3">
                                              <input type="number" id='formlatitude1'  class="form-control" placeholder="纬度" ng-model="currentData.latitude" required/>
                                          </div>
                                          <div class="col-sm-2">
                                              <a href="#" role="button" class="btn sbold green"  ng-click='showMap1()'>地图获取
                                                  <i class="fa fa-map-marker"></i>
                                              </a>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-sm-7 col-sm-offset-3" id="mapContainer1" style="height: 240px" ng-show="isShowmap">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">维保周期</label>
                                          <div class="col-sm-4">
                                              <select class="form-control" ng-model="currentData.maintenancePeriod" required>
                                                  <option>3月</option>
                                                  <option>6月</option>
                                                  <option>1年</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">生产日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date1 " ng-model="currentData.createTime" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">出厂日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date2 " ng-model="currentData.factoryDate" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">质保开始日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date3 " ng-model="currentData.warrantyStartDate" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">质保结束日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date4 " ng-model="currentData.warrantyEndDate" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>

                                  </form>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn grey-salsa btn-outline " ng-click='discreate()' >取消操作</button>
                                  <button type="button" class="btn green"  ng-click='saveCreateDevice()'>
                                      <i class="fa fa-check"></i> 确定添加 </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="myModal_updateDevice" class="modal fade" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                  <h4 class="modal-title">编辑产线</h4>
                              </div>
                              <div class="modal-body form skin skin-line">
                                  <form action="" class="form-horizontal form-row-seperated" name="form">
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              产线名称</label>
                                          <div class="col-sm-6">
                                              <input type="text" ng-model="currentData.name" class="form-control" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              产线编号</label>
                                          <div class="col-sm-6">
                                              <input type="text" ng-model="currentData.number" class="form-control" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              产线序列号</label>
                                          <div class="col-sm-6">
                                              <input type="text" ng-model="currentData.serialNumber" class="form-control" required/>
                                          </div>
                                      </div>
                                      <div class="form-group last">
                                          <label class="col-sm-4 control-label">产线模型</label>
                                          <div class="col-sm-4">
                                              <select class="form-control" ng-model="currentData.model" ng-change="updateModel()" ng-options="x.name for x in modellist" required>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group last">
                                          <label class="col-sm-4 control-label">产线图片</label>
                                          <div class="col-sm-4">
                                              <img ng-src="{{currentData.imagesrc}}" style="width:64px;height:64px"/>
                                          </div>
                                          <div class="col-sm-2">
                                              <a href="#" role="button" class="btn sbold green"  ng-click='changeImageUpdate()'>更新图片
                                              </a>
                                          </div>
                                      </div>
                                      <div class="form-group" ng-show='showUploader'>
                                          <div class="col-sm-9 col-sm-offset-3" id="fine-uploader-gallery-update"></div>
                                  				<input id="imagePathUpdate" type="hidden" class="form-control"  name="imagePath" maxlength="500">
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">地区</label>
                                          <div class="col-sm-3">
                                              <select class="form-control" ng-model="currentData.province"  ng-options="o.id as o.text for o in provinceList" ng-change="doProvAndCityRelation()"></select>
                                          </div>
                                          <div class="col-sm-3">
                                              <select class="form-control" ng-model="currentData.city"  ng-options="o.id as o.text for o in cityList" ng-change="doGetCity()"></select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">产线位置</label>
                                          <label class="col-sm-2 control-label">经度</label>
                                          <div class="col-sm-3">
                                              <input type="number"  id='formlongitude2' class="form-control" placeholder="经度" ng-model="currentData.longitude" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label"></label>
                                          <label class="col-sm-2 control-label">纬度</label>
                                          <div class="col-sm-3">
                                              <input type="number" id='formlatitude2'  class="form-control" placeholder="纬度" ng-model="currentData.latitude" required/>
                                          </div>
                                          <div class="col-sm-2">
                                              <a href="#" role="button" class="btn sbold green"  ng-click='showMap2()'>地图获取
                                                  <i class="fa fa-map-marker"></i>
                                              </a>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-sm-7 col-sm-offset-3" id="mapContainer2" style="height: 240px" ng-show="isShowmap">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">维保周期</label>
                                          <div class="col-sm-4">
                                              <select class="form-control" ng-model="currentData.maintenancePeriod" required>
                                                  <option>3月</option>
                                                  <option>6月</option>
                                                  <option>1年</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">生产日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date1 " ng-model="currentData.createTime" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">出厂日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date2 " ng-model="currentData.factoryDate" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">质保开始日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date3 " ng-model="currentData.warrantyStartDate" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">质保结束日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date4 " ng-model="currentData.warrantyEndDate" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn grey-salsa btn-outline " ng-click='disupdate()' >取消操作</button>
                                  <button type="button" class="btn green"  ng-click='saveUpdateDevice()'>
                                      <i class="fa fa-check"></i> 确定修改 </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="myModal_deleteDevice" class="modal fade" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                  <h4 class="modal-title">删除产线</h4>
                              </div>
                              <div class="modal-body">

                                      您确定要删除产线 {{deletestr}} 吗?
                              </div>

                              <div class="modal-footer">
                                  <button type="button" class="btn grey-salsa btn-outline" ng-click='disdelete()'>取消操作</button>
                                  <button type="button" class="btn green"  ng-click='saveDeleteDevice()'>
                                      <i class="fa fa-check"></i> 确定删除 </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="myModal_ProductLineDetail" class="modal fade" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                  <h4 class="modal-title">产线详情</h4>
                              </div>
                              <div class="modal-body form skin ">
                                <br/>
                                  <form action="" class="form-horizontal " name="form">
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              产线名称</label>
                                          <div class="col-sm-4 ">
                                              <label class="form-control">{{currentData.name}}</label>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              产线ID</label>
                                          <div class="col-sm-4">
                                              <label class="form-control">{{currentData.productLineId}}</label>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">产线图片</label>
                                          <div class="col-sm-6">
                                            <img ng-src="{{currentData.imagesrc}}" style="width: 64px;height:64px"/>
                                          </div>
                                      </div>
                                      <!-- <div class="form-group">
                                          <label class="col-sm-4 control-label">地区</label>
                                          <div class="col-sm-3">
                                              <select class="form-control" ng-model="currentData.province"  ng-options="o.id as o.text for o in provinceList" ng-change="doProvAndCityRelation()"></select>
                                          </div>
                                          <div class="col-sm-3">
                                              <select class="form-control" ng-model="currentData.city"  ng-options="o.id as o.text for o in cityList" ng-change="doGetCity()"></select>
                                          </div>
                                      </div> -->
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">产线位置</label>
                                          <label class="col-sm-2 control-label">经度</label>
                                          <div class="col-sm-3">
                                            <label class="form-control">{{currentData.longitude}}</label>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label"></label>
                                          <label class="col-sm-2 control-label">纬度</label>
                                          <div class="col-sm-3">
                                              <label class="form-control">{{currentData.latitude}}</label>
                                          </div>
                                          <!-- <div class="col-sm-2">
                                              <a href="#" role="button" class="btn sbold green"  ng-click='showMap1()'>地图获取
                                                  <i class="fa fa-map-marker"></i>
                                              </a>
                                          </div> -->
                                      </div>
                                      <div class="form-group">
                                          <div class="col-sm-7 col-sm-offset-3" id="mapContainer1" style="height: 240px" ng-show="isShowmap">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">早班时间</label>
                                          <div class="col-sm-3">
                                            <label class="form-control">{{currentData.morningShiftStartTime}}</label>
                                          </div>
                                          <div class="col-sm-3">
                                            <label class="form-control">{{currentData.morningShiftEndTime}}</label>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">中班时间</label>
                                          <div class="col-sm-3">
                                            <label class="form-control">{{currentData.middleShiftStartTime}}</label>
                                          </div>
                                          <div class="col-sm-3">
                                            <label class="form-control">{{currentData.middleShiftEndTime}}</label>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">晚班时间</label>
                                          <div class="col-sm-3">
                                            <label class="form-control">{{currentData.nightShiftStartTime}}</label>
                                          </div>
                                          <div class="col-sm-3">
                                            <label class="form-control">{{currentData.nightShiftEndTime}}</label>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">库智网关ID</label>
                                          <div class="col-sm-4">
                                             <label class="form-control">{{currentData.grm}}</label>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">库智网关密码</label>
                                          <div class="col-sm-4">
                                             <label class="form-control">{{currentData.grmPassword}}</label>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">数据采集频率</label>
                                          <div class="col-sm-4">
                                             <label class="form-control">{{currentData.grmPeriod}}</label>
                                          </div>秒
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">创建时间</label>
                                          <div class="col-sm-4">
                                             <label class="form-control">{{currentData.createTime}}</label>
                                          </div>
                                      </div>

                                  </form>
                              </div>
                              <div class="modal-footer ">
                                  <button type="button" class="btn green text-center"  ng-click='disShowProductLineDetail()'>关闭 </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="myModal_status" class="modal fade" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                  <h4 class="modal-title">产线启停</h4>
                              </div>
                              <div class="modal-body form skin skin-line">
                                <form action="" class="form-horizontal form-row-seperated">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
                                            产线{{status}}</label>
                                        <div class="col-sm-6">
                                          <button type="button" class="btn green"  ng-click='changeStatus()'>
                                               点我{{statusAction}} </button>
                                        </div>
                                    </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn green"  ng-click='disstatus()'>
                                      <i class="fa fa-check"></i> 关闭 </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="myModal_alert" class="modal fade" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                  <h4 class="modal-title">提示</h4>
                              </div>
                              <div class="modal-body">{{message}}

                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn green"  ng-click='disalert()'>
                                      <i class="fa fa-check"></i> 确定 </button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6">
                          <div class="btn-group">
                              <a href="#" role="button" class="btn sbold green" data-toggle="modal" ng-click="createDevice()">新建
                                  <i class="fa fa-plus"></i>
                              </a>
                              <a href="#" role="button" class="btn  sbold blue " ng-click='updateDevice()'>编辑<i class="fa fa-edit"></i>
                              </a>
                              <a href="#" role="button" class="btn sbold red " ng-click='deleteDevice()' >删除<i class="fa fa-times"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                          <script type="text/ng-template" id="headerCheckbox.html">

                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" /><span></span>
                            </label>
                          </script>
                          <table ng-table="tableParams"  class="table table-striped table-bordered table-hover table-checkable order-column" style="margin-top: 5px">
                              <tbody>
                                  <tr class="odd gradeX" ng-repeat="param in  $data" style=" text-align: center;">
                                      <td header="'headerCheckbox.html'">
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" ng-model="checkboxes.items[param.productLineId]" /><span></span>
                                        </label>
                                      </td>
                                      <td title="'ID'">{{param.productLineId}}</td>
                                      <td title="'名称'">{{param.name}}</td>
                                      <td title="'图片'">
                                          <img ng-src="{{param.imagesrc}}" style="width: 36px;height:36px"/>
                                      </td>

                                      <td title="'采集频率'">{{param.grmPeriod}}</td>
                                      <td title="'在线情况'">{{param.isOnlinelabel}}</td>
                                      <td title="'启停情况'">
                                            <a  href="#" class="btn" style="width:64px;height:20px" >
                                              <img src={{param.turnpic}} style="width:32px;height:17px" />
                                            </a>
                                      </td>
                                      <td title="'详情'">
                                        <div class="margin-bottom-5">
                                          <a href="#" ng-click="showProductLineDetail(param)" class="btn btn-sm btn-success sbold blue ">查看&nbsp<i class="fa fa-search"></i>
                                          </a>
                                        </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                  </div>
              </div>
          </div>
      </form>
    </div>
</div>
<script type="text/template" id="qq-template-gallery">
  <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="拖拽图片到此处……">
    <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
      <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
    </div>
    <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
      <span class="qq-upload-drop-area-text-selector"></span>
    </div>
    <div class="qq-upload-button-selector qq-upload-button">
      <div>上传文件</div>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
              <span>Processing dropped files...</span>
              <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
      <li>
        <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
        <div class="qq-progress-bar-container-selector qq-progress-bar-container">
          <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <div class="qq-thumbnail-wrapper">
          <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
        </div>
        <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
        <button type="button" class="qq-upload-retry-selector qq-upload-retry">
          <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
          重试
        </button>

        <div class="qq-file-info">
          <div class="qq-file-name">
            <span class="qq-upload-file-selector qq-upload-file"></span>
            <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
          </div>
          <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
          <span class="qq-upload-size-selector qq-upload-size"></span>
          <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
            <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
          </button>
          <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
            <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
          </button>
          <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
            <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
          </button>
        </div>
      </li>
    </ul>

    <dialog class="qq-alert-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">关闭</button>
      </div>
    </dialog>

    <dialog class="qq-confirm-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">取消</button>
        <button type="button" class="qq-ok-button-selector">确定</button>
      </div>
    </dialog>

    <dialog class="qq-prompt-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <input type="text">
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">取消</button>
        <button type="button" class="qq-ok-button-selector">确定</button>
      </div>
    </dialog>
  </div>
</script>
<script type="text/template" id="qq-template-gallery-update">
  <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="拖拽图片到此处……">
    <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
      <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
    </div>
    <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
      <span class="qq-upload-drop-area-text-selector"></span>
    </div>
    <div class="qq-upload-button-selector qq-upload-button">
      <div>上传文件</div>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
              <span>Processing dropped files...</span>
              <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
      <li>
        <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
        <div class="qq-progress-bar-container-selector qq-progress-bar-container">
          <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <div class="qq-thumbnail-wrapper">
          <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
        </div>
        <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
        <button type="button" class="qq-upload-retry-selector qq-upload-retry">
          <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
          重试
        </button>

        <div class="qq-file-info">
          <div class="qq-file-name">
            <span class="qq-upload-file-selector qq-upload-file"></span>
            <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
          </div>
          <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
          <span class="qq-upload-size-selector qq-upload-size"></span>
          <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
            <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
          </button>
          <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
            <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
          </button>
          <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
            <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
          </button>
        </div>
      </li>
    </ul>

    <dialog class="qq-alert-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">关闭</button>
      </div>
    </dialog>

    <dialog class="qq-confirm-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">取消</button>
        <button type="button" class="qq-ok-button-selector">确定</button>
      </div>
    </dialog>

    <dialog class="qq-prompt-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <input type="text">
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">取消</button>
        <button type="button" class="qq-ok-button-selector">确定</button>
      </div>
    </dialog>
  </div>
</script>
