<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <!-- <a href="index.html">资产管理</a> -->
            <span>资产管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备模型管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备模型接入</span>
        </li>
    </ul>
    <div class="page-toolbar">

    </div>
</div>

<br>

<div class="row">
  <div class="portlet light portlet-fit portlet-datatable bordered">
      <div class="portlet-title">
          <div class="caption">
              <i class="icon-settings font-dark"></i>设备接入设置</div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-6">
            <form action="" class="form-horizontal form-row-seperated" name="form">
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        设备名称</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="equipmentname" class="form-control"  ng-disabled="true" required/>
                    </div>
                </div>
                <div class="form-group last">
                    <label class="col-sm-4 control-label">链接协议</label>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="protocolId"  ng-options="o.id as o.name for o in protocolLists"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        心跳包格式（长度<20）</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="heartData" class="form-control"  required/>
                    </div>
                </div>
            </form>
          </div>
          <div class="col-md-6">
            <form action="" class="form-horizontal form-row-seperated">
              <div class="form-group">
                  <label class="col-sm-4 control-label">
                      Ip</label>
                  <div class="col-sm-6">
                      <input type="text" ng-model="accessdev.ip" class="form-control"   ng-disabled="true" required/>
                  </div>
                  <label class="col-sm-4 control-label">
                      端口号</label>
                  <div class="col-sm-6">
                      <input type="text" ng-model="accessdev.port" class="form-control"  ng-disabled="true" required/>
                  </div>
                  <label class="col-sm-4 control-label">
                      接入注册包</label>
                  <div class="col-sm-6">
                      <input type="text" ng-model="equipmentId" class="form-control"  ng-disabled="true" required/>
                  </div>
              </div>
            </form>
          <div class="col-md-4 col-md-offset-8">
            <a href="#" role="button" class="btn btn-sm btn-success sbold green margin-bottom" ng-click='saveConnectInfo()'><i class="fa fa-edit"></i>保存
            </a>
          </div>
        </div>
        </div>
      </div>
  </div>
  <div class="portlet light portlet-fit portlet-datatable bordered">
      <div class="portlet-title">
          <div class="caption">
              <i class="icon-settings font-dark"></i>传感器设置</div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <table ng-table="tableParams"  class="table table-striped table-bordered table-hover table-checkable order-column" style="margin-top: 5px">
              <tbody>
                  <tr class="odd gradeX" ng-repeat="param in  $data" style=" text-align: center;">
                      <td header="'headerCheckbox.html'"><input type="checkbox" ng-model="checkboxes.items[param.equipmentModelPropertyId]" /></td>
                      <td title="'参数名称'" class="center">{{param.name}}</td>
                      <td title="'数据类型'" class="center">{{param.dataType}}</td>
                      <td title="'参数单位'" class="center">{{param.unit}}</td>
                      <td title="'读写指令'">
                          <div class="margin-bottom-5">
                            <a href="#" class="btn btn-sm btn-success sbold blue "><i class="fa fa-plus"></i>设置
                            </a>
                          </div>

                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

</div>
<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
