<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <!-- <a href="#">资产管理</a> -->
            <span>资产管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备模型管理</span>
        </li>
    </ul>
</div>
<br class="">
<div class="row">
    <div class="col-md-12">
      <form class="form-horizontal form-row-seperated" action="#">
          <div class="portlet light portlet-fit portlet-datatable bordered">
              <div class="portlet-title">
                  <div class="caption">
                      <i class="icon-settings font-dark"></i>设备信息管理</div>
              </div>
              <div class="portlet-body">
                  <div id="myModal_createDevice" class="modal fade" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                  <h4 class="modal-title">创建设备</h4>
                              </div>
                              <div class="modal-body form skin skin-line">
                                  <form action="" class="form-horizontal form-row-seperated" name="form">
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              设备名称</label>
                                          <div class="col-sm-6">
                                              <input type="text" ng-model="currentData.name" class="form-control" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              设备编号</label>
                                          <div class="col-sm-6">
                                              <input type="text" ng-model="currentData.number" class="form-control" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              设备序列号</label>
                                          <div class="col-sm-6">
                                              <input type="text" ng-model="currentData.serialNumber" class="form-control" required/>
                                          </div>
                                      </div>
                                      <div class="form-group last">
                                          <label class="col-sm-4 control-label">设备模型</label>
                                          <div class="col-sm-4">
                                              <select class="form-control" ng-model="selectedmodel" ng-options="x.name for x in modellist" required>
                                              </select>
                                          </div>
                                      </div>
                                      <!-- <div class="form-group">
                                          <label class="col-sm-4 control-label">设备图片</label>
                                         <div class="col-sm-6">
                                              <div class="fileinput fileinput-new" data-provides="fileinput">
                                                  <div class="fileinput-new thumbnail" style="width: 100px; height: 75px;">
                                                      <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> </div>
                                                  <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 100px; max-height: 75px;"> </div>
                                                  <div>
                                                      <span class="btn btn-sm default btn-file">
                                                          <span class="fileinput-new"> 选图 </span>
                                                          <span class="fileinput-exists"> 更换 </span>
                                                          <input type="file" name="..."> </span>
                                                      <a href="javascript:;" class="btn btn-sm red fileinput-exists" data-dismiss="fileinput"> 移除 </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div> -->
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">地区</label>
                                          <div class="col-sm-3">
                                              <select class="form-control" ng-model="currentData.province"  ng-options="o.id as o.text for o in provinceList" ng-change="doProvAndCityRelation()"></select>
                                          </div>
                                          <div class="col-sm-3">
                                              <select class="form-control" ng-model="currentData.city"  ng-options="o.id as o.text for o in cityList" ng-change="doGetCity()"></select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">设备位置</label>
                                          <label class="col-sm-2 control-label">经度</label>
                                          <div class="col-sm-3">
                                              <input type="number"  id='formlongitude1' class="form-control" placeholder="经度" ng-model="currentData.longitude" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label"></label>
                                          <label class="col-sm-2 control-label">纬度</label>
                                          <div class="col-sm-3">
                                              <input type="number" id='formlatitude1'  class="form-control" placeholder="纬度" ng-model="currentData.latitude" required/>
                                          </div>
                                          <div class="col-sm-2">
                                              <a href="#" role="button" class="btn sbold green"  ng-click='showMap1()'>地图获取
                                                  <i class="fa fa-map-marker"></i>
                                              </a>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-sm-7 col-sm-offset-3" id="mapContainer1" style="height: 240px" ng-show="isShowmap">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">维保周期</label>
                                          <div class="col-sm-4">
                                              <select class="form-control" ng-model="currentData.maintenancePeriod" required>
                                                  <option>3月</option>
                                                  <option>6月</option>
                                                  <option>1年</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">生产日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date1 " ng-model="currentData.createTime" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">出厂日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date2 " ng-model="currentData.factoryDate" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">质保开始日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date3 " ng-model="currentData.warrantyStartDate" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">质保结束日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date4 " ng-model="currentData.warrantyEndDate" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn grey-salsa btn-outline " ng-click='discreate()' >取消操作</button>
                                  <button type="button" class="btn green"  ng-click='saveCreateDevice()'>
                                      <i class="fa fa-check"></i> 确定添加 </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="myModal_updateDevice" class="modal fade" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                  <h4 class="modal-title">编辑设备</h4>
                              </div>
                              <div class="modal-body form skin skin-line">
                                  <form action="" class="form-horizontal form-row-seperated" name="form">
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              设备名称</label>
                                          <div class="col-sm-6">
                                              <input type="text" ng-model="currentData.name" class="form-control" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              设备编号</label>
                                          <div class="col-sm-6">
                                              <input type="text" ng-model="currentData.number" class="form-control" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">
                                              设备序列号</label>
                                          <div class="col-sm-6">
                                              <input type="text" ng-model="currentData.serialNumber" class="form-control" required/>
                                          </div>
                                      </div>
                                      <div class="form-group last">
                                          <label class="col-sm-4 control-label">设备模型</label>
                                          <div class="col-sm-4">
                                              <select class="form-control" ng-model="currentData.model" ng-change="updateModel()" ng-options="x.name for x in modellist" required>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">地区</label>
                                          <div class="col-sm-3">
                                              <select class="form-control" ng-model="currentData.province"  ng-options="o.id as o.text for o in provinceList" ng-change="doProvAndCityRelation()"></select>
                                          </div>
                                          <div class="col-sm-3">
                                              <select class="form-control" ng-model="currentData.city"  ng-options="o.id as o.text for o in cityList" ng-change="doGetCity()"></select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">设备位置</label>
                                          <label class="col-sm-2 control-label">经度</label>
                                          <div class="col-sm-3">
                                              <input type="number"  id='formlongitude2' class="form-control" placeholder="经度" ng-model="currentData.longitude" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label"></label>
                                          <label class="col-sm-2 control-label">纬度</label>
                                          <div class="col-sm-3">
                                              <input type="number" id='formlatitude2'  class="form-control" placeholder="纬度" ng-model="currentData.latitude" required/>
                                          </div>
                                          <div class="col-sm-2">
                                              <a href="#" role="button" class="btn sbold green"  ng-click='showMap2()'>地图获取
                                                  <i class="fa fa-map-marker"></i>
                                              </a>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-sm-7 col-sm-offset-3" id="mapContainer2" style="height: 240px" ng-show="isShowmap">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">维保周期</label>
                                          <div class="col-sm-4">
                                              <select class="form-control" ng-model="currentData.maintenancePeriod" required>
                                                  <option>3月</option>
                                                  <option>6月</option>
                                                  <option>1年</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">生产日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date1 " ng-model="currentData.createTime" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">出厂日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date2 " ng-model="currentData.factoryDate" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">质保开始日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date3 " ng-model="currentData.warrantyStartDate" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">质保结束日期</label>
                                          <div class="col-sm-4">
                                              <input class="form-control date form_date4 " ng-model="currentData.warrantyEndDate" data-date-format="yyyy-mm-dd hh:ii" size="26" type="text" value="" placeholder="点击选择日期" required/>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn grey-salsa btn-outline " ng-click='disupdate()' >取消操作</button>
                                  <button type="button" class="btn green"  ng-click='saveUpdateDevice()'>
                                      <i class="fa fa-check"></i> 确定修改 </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="myModal_deleteDevice" class="modal fade" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                  <h4 class="modal-title">删除设备</h4>
                              </div>
                              <div class="modal-body">

                                      您确定要删除设备 {{deletestr}} 吗?
                              </div>

                              <div class="modal-footer">
                                  <button type="button" class="btn grey-salsa btn-outline" ng-click='disdelete()'>取消操作</button>
                                  <button type="button" class="btn green"  ng-click='saveDeleteDevice()'>
                                      <i class="fa fa-check"></i> 确定删除 </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="myModal_status" class="modal fade" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                  <h4 class="modal-title">设备启停</h4>
                              </div>
                              <div class="modal-body form skin skin-line">
                                <form action="" class="form-horizontal form-row-seperated">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
                                            {{status}}</label>
                                        <div class="col-sm-6">
                                          <button type="button" class="btn green"  ng-click='changeStatus()'>
                                               {{statusAction}} </button>
                                        </div>
                                    </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn green"  ng-click='disstatus()'>
                                      <i class="fa fa-check"></i> 关闭 </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="myModal_alert" class="modal fade" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                  <h4 class="modal-title">提示</h4>
                              </div>
                              <div class="modal-body">{{message}}

                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn green"  ng-click='disalert()'>
                                      <i class="fa fa-check"></i> 确定 </button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6">
                          <div class="btn-group">
                              <a href="#" role="button" class="btn sbold green" data-toggle="modal" ng-click="createDevice()">添加
                                  <i class="fa fa-plus"></i>
                              </a>
                              <a href="#" role="button" class="btn  sbold blue " ng-click='updateDevice()'>编辑<i class="fa fa-edit"></i>
                              </a>
                              <a href="#" role="button" class="btn sbold red " ng-click='deleteDevice()' >删除<i class="fa fa-times"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                          <script type="text/ng-template" id="headerCheckbox.html">

                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" /><span></span>
                            </label>
                          </script>
                          <table ng-table="tableParams"  class="table table-striped table-bordered table-hover table-checkable order-column" style="margin-top: 5px">
                              <tbody>
                                  <tr class="odd gradeX" ng-repeat="param in  $data" style=" text-align: center;">
                                      <td header="'headerCheckbox.html'">
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" ng-model="checkboxes.items[param.equipmentId]" /><span></span>
                                        </label>
                                      </td>
                                      <td title="'编号'">{{param.number}}</td>
                                      <td title="'名称'">{{param.name}}</td>
                                      <td title="'模型'">
                                          <span class="label label-sm label-success"> {{param.equipmentModelname}} </span>
                                      </td>
                                      <!-- <td title="'位置'">{{param.longitude}},{{param.latitude}}</td> -->
                                      <!-- <td title="'用户'">{{param.createUserId}}</td> -->
                                      <td title="'维保周期'" class="center">{{param.maintenancePeriod}}</td>
                                      <td title="'出厂日期'" class="center">{{param.factoryDate}}</td>
                                      <td title="'投产日期'" class="center">{{param.createTime}}</td>
                                      <td title="'质保开始日期'" class="center">{{param.warrantyStartDate}}</td>
                                      <td title="'质保结束日期'" class="center">{{param.warrantyEndDate}}</td>
                                      <td title="'操作'">
                                          <div class="margin-bottom-5">
                                            <a ui-sref="main.asset.connectdevice({equipmentInfo:param})" class="btn btn-sm btn-success sbold blue "><i class="fa fa-plus"></i>设备接入
                                            </a>
                                            <a  href="#" class="btn btn-sm btn-success sbold green " ng-click="openStatusModal(param)"><i class="fa fa-times"></i>设备启停
                                            </a>
                                          </div>

                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                  </div>
              </div>
          </div>
      </form>
    </div>
</div>
