<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <!-- <a href="#">资产管理</a> -->
            <span>资产管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备模型管理</span>
        </li>
    </ul>
</div>
<br class="">
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase"> 设备模型管理
                  </span>
                </div>

                <div class="actions">
                  <a href="/#myModal_createModel" role="button" data-toggle="modal" class="btn green">
                     <i class="fa fa-plus"></i>新建模型 </a>
                  <a href="/#myModal_deleteModel" class="btn green" data-toggle="modal" >
                    <i class="fa fa-minus"></i>删除模型 </a>
                </div>

            </div>
            <div class="portlet-body">

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="portlet blue-hoki box">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs"></i>模型列表</div>
                                <!-- <div class="actions">
                                    <a href="javascript:;" class="btn btn-default btn-sm">
                                        <i class="fa fa-pencil"></i> 添加</a>
                                </div> -->
                            </div>
                            <div class="portlet-body">
                                <div class="row slider multiple-items">
                                    <!-- <div ng-repeat="model in modellist">
                                      <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered " >
                                          <h4 class="widget-thumb-heading">{{model.number}}</h4>
                                          <div class="widget-thumb-wrap">
                                              <i class="widget-thumb-icon bg-green icon-layers"></i>
                                              <div class="widget-thumb-body">
                                                  <span class="widget-thumb-subtitle">{{model.name}}</span>
                                                  <span class="widget-thumb-body-stat" data-counter="counterup" data-value="1,293">{{model.equipmentModelId}}</span>
                                              </div>
                                          </div>
                                      </div>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabbable-line">
                    <ul class="nav nav-tabs nav-tabs-lg">
                        <li class="active">
                            <a href="/#tab_1" data-toggle="tab">
                                <i class="icon-info">
                                  </i> 信息
                            </a>
                        </li>
                        <li>
                            <a href="/#tab_2" data-toggle="tab">
                                <i class="icon-briefcase">
                                  </i> 属性
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <form class="form-horizontal" role="form" action="#">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">模型名称</label>
                                    <div class="col-md-3">
                                        <input type="text" ng-disabled="!allowEdit" class="form-control modalinput" ng-model="editModel.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">模型编号</label>
                                    <div class="col-md-3">
                                        <input type="text" ng-disabled="!allowEdit" class="form-control modalinput" ng-model="editModel.number">
                                    </div>
                                </div>
                                <div class="form-group last">
                                    <label class="col-sm-3 control-label">链接协议</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-disabled="!allowEdit" ng-model="editModel.protocolId" ng-options="o.id as o.name for o in protocolLists"></select>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <a href="javascript:;" class="btn default col-sm-2 col-sm-offset-1" ng-click='allowEditInput()'> 编辑信息 </a>
                                    <a href="javascript:;" class="btn green col-sm-2 col-sm-offset-1" ng-click='saveEditInput()'> 保存信息 </a>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <div class="table-container">
                                <div class="portlet-body" style="padding-bottom: 30px">
                                    <div class="table-toolbar">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="btn-group">
                                                    <a href="/#myModal_createPropertyItem" data-toggle="modal"
                                                       class="btn green" ng-click='resetPropertyItem()'>
                                                        添加参数<i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-6">
                                                <div class="btn-group pull-right">
                                                    <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">工具
                                              <i class="fa fa-angle-down"></i>
                                          </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li>
                                                            <a href="javascript:;"> 打印 </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;"> 导出 PDF </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;"> 导出 Excel </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <script type="text/ng-template" id="headerCheckbox.html">
                                      <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" />
                                    </script>
                                    <table ng-table="tableParams"class="table table-striped table-hover table-bordered">
                                        <tr ng-repeat="param in  $data" style=" text-align: center;">
                                            <td header="'headerCheckbox.html'"><input type="checkbox" ng-model="checkboxes.items[param.equipmentModelPropertyId]" /></td>
                                            <td title="'参数名称'">{{param.name}}</td>
                                            <td title="'数据类型'">{{param.dataTypename}}</td>
                                            <td title="'参数单位'">{{param.unit}}</td>
                                            <td title="'显示类型'">{{param.displayname}}</td>
                                            <td title="'读写指令'">
                                                <div class="margin-bottom-5">
                                                  <a href="#" data-toggle="modal" ng-click="showSetSensor(param)" class="btn btn-sm btn-success sbold blue "><i class="fa fa-plus"></i>设置
                                                  </a>
                                                </div>
                                            </td>
                                            <td title="'报警设置'">
                                                <div class="margin-bottom-5">
                                                  <a href="#" data-toggle="modal" ng-click="showSetAlarm(param)" class="btn btn-sm btn-success sbold blue "><i class="fa fa-plus"></i>设置
                                                  </a>
                                                </div>
                                            </td>
                                            <td title="'操作'">
                                                <a href="/#myModal_updatePropertyItem" data-toggle="modal"
                                                   class="btn blue btn-outline sbold uppercase"
                                                   ng-click='setPropertyItem(param)'>编辑</a>
                                                <a href="/#myModal_deletePropertyItem" data-toggle="modal"
                                                   class="btn red btn-outline sbold uppercase"
                                                   ng-click='setPropertyItem(param)'> 删除</a>
                                            </td>
                                        </tr>
                                    </table>
                                    <div ng-show="$scope.propertylist.length == 0">没有参数信息</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>

<div id="myModal_createModel" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">创建模型</h4>
            </div>
            <div class="modal-body form">
                <form action="javascript:alert('xx');" class="form-horizontal form-row-seperated">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            模型名称</label>
                        <div class="col-sm-8">
                            <input type="text" name="modelname" class="form-control" ng-model="createFormData.name" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">模型编号</label>
                        <div class="col-sm-8">
                            <input type="text" name="modelnumber" class="form-control" ng-model="createFormData.number" required/>
                        </div>
                    </div>
                    <div class="form-group last">
                        <label class="col-sm-3 control-label">链接协议</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="protocolId" ng-options="o.id as o.name for o in protocolLists"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal" ng-click="cancelCreateModel()">取消操作</button>
                <button type="button" class="btn green" data-dismiss="modal" ng-click='saveCreateModel()'>
                        <i class="fa fa-check"></i> 确定添加 </button>
            </div>
        </div>
    </div>
</div>

<div id="myModal_deleteModel" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">删除模型</h4>
            </div>
            <div class="modal-body">
                    您确定要删除 模型： {{currentModel.name}}  吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">取消操作</button>
                <button type="button" class="btn green" data-dismiss="modal" ng-click='deleteModel()'>
                        <i class="fa fa-check"></i> 确定删除 </button>
            </div>
        </div>
    </div>
</div>

<div id="myModal_deletePropertyItem" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">删除参数</h4>
            </div>
            <div class="modal-body">
                    <h4  class="modal-title">您确定要删除 参数： {{PropertyItemData.name}}  吗？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">取消操作</button>
                <button type="button" class="btn green" data-dismiss="modal" ng-click='deletePropertyItem()'>
                        <i class="fa fa-check"></i> 确定删除 </button>
            </div>
        </div>
    </div>
</div>

<div id="myModal_updatePropertyItem" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">编辑设备模型参数</h4>
            </div>
            <div class="modal-body form">
                <form action="javascript:alert('xx');" class="form-horizontal form-row-seperated">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">参数名称</label>
                        <div class="col-sm-8">
                            <input type="text" name="name" class="form-control" ng-model="PropertyItemData.name" required />
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">参数别名</label>
                        <div class="col-sm-8">
                            <input type="text" name="lable" class="form-control" ng-model="PropertyItemData.lable" required />
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">参数单位</label>
                        <div class="col-sm-8">
                            <input type="text" name="unit" class="form-control" ng-model="PropertyItemData.unit" required/>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">参数地址</label>
                        <div class="col-sm-8">
                            <input type="text" name="address" class="form-control" ng-model="PropertyItemData.address" required/>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">参数类型</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="PropertyItemData.dataType" ng-change="selectDataType()"  ng-options="o.id as o.name for o in typeList"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="isAnalogProperty">
                        <label class="col-sm-3 control-label">展示类型</label>
                        <div class="col-sm-3">
                          <select class="form-control" ng-model="PropertyItemData.displayType"  ng-options="o.id as o.name for o in displayTypeList"></select>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">报警设置</label>
                        <div class="col-sm-8">
                            <input type="text" name="alarmType" class="form-control" ng-model="PropertyItemData.alarmType" required/>
                        </div>
                    </div> -->
                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">刷新周期</label>
                        <div class="col-sm-8">
                            <input type="text" name="refreshPeriod" class="form-control" ng-model="PropertyItemData.refreshPeriod" required/>
                        </div>
                    </div> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal" ng-click="cancelupdatePropertyItem()">取消操作</button>
                <button type="button" class="btn green" data-dismiss="modal" ng-click='updatePropertyItem()'>
                        <i class="fa fa-check"></i> 确定更新 </button>
            </div>
        </div>
    </div>
</div>

<div id="myModal_createPropertyItem" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">添加设备模型参数</h4>
            </div>
            <div class="modal-body form">
                <form action="javascript:alert('xx');" class="form-horizontal form-row-seperated">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">参数名称</label>
                        <div class="col-sm-8">
                            <input type="text" name="name" class="form-control" ng-model="PropertyItemData.name" required />
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">参数别名</label>
                        <div class="col-sm-8">
                            <input type="text" name="lable" class="form-control" ng-model="PropertyItemData.lable" required />
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">参数单位</label>
                        <div class="col-sm-8">
                            <input type="text" name="unit" class="form-control" ng-model="PropertyItemData.unit" required/>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">参数地址</label>
                        <div class="col-sm-8">
                            <input type="text" name="address" class="form-control" ng-model="PropertyItemData.address" required/>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">参数类型</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="PropertyItemData.dataType" ng-change="selectDataType()"   ng-options="o.id as o.name for o in typeList"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="isAnalogProperty">
                        <label class="col-sm-3 control-label">展示类型</label>
                        <div class="col-sm-3">
                          <select class="form-control" ng-model="PropertyItemData.displayType"  ng-options="o.id as o.name for o in displayTypeList"></select>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">报警设置</label>
                        <div class="col-sm-8">
                            <input type="text" name="alarmType" class="form-control" ng-model="PropertyItemData.alarmType" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">刷新周期</label>
                        <div class="col-sm-8">
                            <input type="text" name="refreshPeriod" class="form-control" ng-model="PropertyItemData.refreshPeriod" required/>
                        </div>
                    </div> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal" ng-click="canceleditPropertyItem()">取消操作</button>
                <button type="button" class="btn green" data-dismiss="modal" ng-click='createPropertyItem()'>
                        <i class="fa fa-check"></i> 确定添加 </button>
            </div>
        </div>
    </div>
</div>

<div id="myModal_setSeneor" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title">读写指令设置</h4>
          </div>
          <div class="modal-body form skin skin-line">
              <form action="" class="form-horizontal form-row-seperated" name="sensorform" role="form">
                  <input type="hidden" name="equipmentId" ng-model="sensor.equipmentId">
                  <input type="hidden" name="equipmentModelPropertyId" ng-model="sensor.equipmentModelPropertyId">
                  <div class="form-group">
                      <label class="col-sm-4 control-label">
                          从站地址</label>
                      <div class="col-sm-6">
                          <input type="number" ng-model="sensor.salveId" placeholder="地址范围 1 - 247" class="form-control" required/>
                      </div>
                  </div>
                  <div class="form-group last">
                      <label class="col-sm-4 control-label">读取模式</label>
                      <div class="col-sm-4">
                          <select class="form-control" ng-model="sensor.functionCode"  ng-options="o.id as o.name for o in codeLists" required></select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-4 control-label">
                          参数地址</label>
                      <div class="col-sm-6">
                          <input type="number" ng-model="sensor.address" class="form-control" required/>
                      </div>
                  </div>

                  <!-- <div class="form-group">
                      <label class="col-sm-4 control-label">
                          数量</label>
                      <div class="col-sm-6">
                          <input type="text" ng-model="sensor.quantity" class="form-control" required/>
                      </div>
                  </div> -->
                  <div class="form-group last">
                      <label class="col-sm-4 control-label">数据格式</label>
                      <div class="col-sm-4">
                          <select class="form-control" ng-model="sensor.dataFormat" ng-change="selectFormat()"  ng-options="o.id as o.name for o in formatLists" required></select>
                      </div>
                  </div>
                  <div class="form-group last" id="bitcode">
                      <label class="col-sm-4 control-label">字节顺序</label>
                      <div class="col-sm-4">
                          <select class="form-control" ng-model="sensor.bitOrder"  ng-options="o.id as o.name for o in bitorderLists" required></select>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-4 control-label">
                          数据转换</label>
                      <div class="col-sm-4">
                        <a href="#" ng-click="addDataConversioin()" class="btn btn-sm btn-success sbold blue conversion-add"><i class="fa fa-balance-scale"></i> 添加参数映射
                        </a>
                      </div>


                  </div>

                  <div class="form-group last conversion-view">
                      <label class="col-sm-4 control-label">原始值</label>
                      <div class="col-sm-5">
                        <div class="input-group">
                          <input type="number" ng-model="isl" class="form-control col-sm-2" />
                          <span class="input-group-addon">~</span>
                          <input type="number" ng-model="ish" class="form-control col-sm-2" />
                        </div>
                        <h6>参数读取值的范围 如 0~1000</h6>
                      </div>
                  </div>
                  <div class="form-group last conversion-view">
                      <label class="col-sm-4 control-label">工程值</label>
                      <div class="col-sm-5">
                        <div class="input-group">
                          <input type="number" ng-model="osl" class="form-control col-sm-2" />
                          <span class="input-group-addon">~</span>
                          <input type="number" ng-model="osh" class="form-control col-sm-2" />
                        </div>
                        <h6>参数真实值的范围 如 0~100，表示真实值对应读取值的0.1倍</h6>
                      </div>
                      <a href="#" ng-click="removeDataConversioin()" class="btn btn-sm btn-success sbold blue "> 删除映射
                      </a>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <!-- <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">取消操作</button> -->
              <button type="button" class="btn grey-salsa btn-outline " ng-click='setSensorDismiss()' >取消</button>
              <button type="button" class="btn green"  ng-click='saveSensor()' ng-disabled="sensorform.$invalid">
                  <i class="fa fa-check"></i> 确定 </button>
          </div>
      </div>
  </div>
</div>
<div id="myModal_setSeneorJK" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title">读写指令设置</h4>
          </div>
          <div class="modal-body form skin skin-line">
              <form action="" class="form-horizontal form-row-seperated" name="sensorform2" role="form">
                  <input type="hidden" ng-model="sensor.grmAction"  class="form-control"/>

                  <!-- <div class="form-group last">
                      <label class="col-sm-4 control-label">读取模式</label>
                      <div class="col-sm-4">
                          <select class="form-control" ng-model="sensor.grmAction"  ng-options="o.id as o.name for o in codeLists"  required></select>
                      </div>
                  </div> -->
                  <div class="form-group">
                      <label class="col-sm-4 control-label">
                          变量名</label>
                      <div class="col-sm-6">
                          <input type="text" ng-model="sensor.grmVariable" class="form-control" required/>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-4 control-label">
                          数据转换</label>
                      <div class="col-sm-4">
                        <a  href="#" ng-click="addDataConversioin()" class="btn btn-sm btn-success sbold blue conversion-add"><i class="fa fa-balance-scale"></i> 添加参数映射
                        </a>
                      </div>
                  </div>

                  <div class="form-group last conversion-view">
                      <label class="col-sm-4 control-label">原始值</label>
                      <div class="col-sm-5">
                        <div class="input-group">
                          <input type="number" ng-model="isl" class="form-control col-sm-2" />
                          <span class="input-group-addon">~</span>
                          <input type="number" ng-model="ish" class="form-control col-sm-2" />
                        </div>
                        <h6>参数读取值的范围 如 0~1000</h6>
                      </div>
                  </div>
                  <div class="form-group last conversion-view">
                      <label class="col-sm-4 control-label">工程值</label>
                      <div class="col-sm-5">
                        <div class="input-group">
                          <input type="number" ng-model="osl" class="form-control col-sm-2" />
                          <span class="input-group-addon">~</span>
                          <input type="number" ng-model="osh" class="form-control col-sm-2" />
                        </div>
                        <h6>参数真实值的范围 如 0~100，表示真实值对应读取值的0.1倍</h6>
                      </div>
                      <a href="#" ng-click="removeDataConversioin()" class="btn btn-sm btn-success sbold blue "> 删除映射
                      </a>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <!-- <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">取消操作</button> -->
              <button type="button" class="btn grey-salsa btn-outline " ng-click='setSensorJKDismiss()' >取消</button>
              <button type="button" class="btn green"  ng-click='saveSensor()' ng-disabled="sensorform2.$invalid">
                  <i class="fa fa-check"></i> 确定 </button>
          </div>
      </div>
  </div>
</div>

<div id="myModal_setAlarm" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title">报警参数设置</h4>
          </div>
          <div class="modal-body form skin skin-line">
              <form action="" class="form-horizontal form-row-seperated" name="alarmform" role="form">
                  <input type="hidden" name="equipmentModelPropertyId" ng-model="alarm.equipmentModelPropertyId">
                  <input type="hidden" name="dataType" ng-model="alarm.dataType">
                  <div class="form-group">
                      <label class="col-sm-4 control-label">
                          报警选择</label>
                      <div class="col-sm-6">
                        <select class="form-control" ng-model="alarm.alarmType" ng-change="selectAlarmtype()"  ng-options="o as o.name for o in alarmTypeLists" required></select>
                      </div>
                  </div>
                  <div class="form-group"  id='upperBound'>
                      <label class="col-sm-4 control-label">X</label>
                      <div class="col-sm-6">
                        <input id='upperBoundNum' class="form-control" type="number" ng-model="alarm.upperBound"  placeholder="请填写数字" ></select>
                      </div>
                  </div>
                  <div class="form-group" id='lowerBound'>
                      <label class="col-sm-4 control-label">Y</label>
                      <div class="col-sm-6">
                        <input id='lowerBoundNum' class="form-control"  type="number" ng-model="alarm.lowerBound" placeholder="请填写数字" ></select>
                      </div>
                  </div>
                  <div class="form-group" id='duration'>
                      <label class="col-sm-4 control-label">M</label>
                      <div class="col-sm-6">
                        <input id='durationNum' class="form-control"  type="number" ng-model="alarm.duration"  placeholder="请填写数字" ></select>
                      </div>
                  </div>
                  <div class="form-group last">
                      <label class="col-sm-4 control-label">提醒方式</label>
                      <div class="col-sm-4">
                          <select class="form-control" ng-model="alarm.alarmTarget"  ng-options="o.id as o.name for o in alarmTargets" required></select>
                      </div>
                  </div>
                  <div class="form-group last">
                      <label class="col-sm-4 control-label">提醒对象</label>
                      <div class="col-sm-4">
                          <select class="form-control" ng-model="alarm.targetUser"  ng-options="o.userId as o.realname for o in companyUserLists" required></select>
                      </div>
                  </div>


              </form>
          </div>
          <div class="modal-footer">
              <!-- <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">取消操作</button> -->
              <button type="button" ng-show="hasAlarmset" class="btn blue" ng-click='clearAlarmset()' >移除报警</button>
              <button type="button" class="btn grey-salsa btn-outline " ng-click='setAlarmDismiss()' >取消</button>
              <button type="button" class="btn green"  ng-click='saveAlarm()' ng-disabled="alarmform.$invalid">
                  <i class="fa fa-check"></i> 确定 </button>
          </div>
      </div>
  </div>
</div>

<div id="myModal_alert" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">{{message}}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green"  ng-click='disalert()'>
                    <i class="fa fa-check"></i> 确定 </button>
            </div>
        </div>
    </div>
</div>
