<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <!-- <a href="index.html">资产管理</a> -->
            <span>资产管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备模型管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备模型接入</span>
        </li>
    </ul>
    <div class="page-toolbar">

    </div>
</div>

<br>

<div class="row">
  <div class="portlet light portlet-fit portlet-datatable bordered">
      <div class="portlet-title">
          <div class="caption">
              <i class="icon-settings font-dark"></i>设备接入设置
          </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-6">
            <form action="" class="form-horizontal form-row-seperated" name="form">
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        设备名称</label>
                    <div class="col-sm-6">
                        <label class="form-control">{{equipmentname}}</label>
                    </div>
                </div>
                <div class="form-group last">
                    <label class="col-sm-4 control-label">链接协议</label>
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="protocolId" ng-disabled="true" ng-change="selectProtocal()"  ng-options="o.id as o.name for o in protocolLists"></select>
                    </div>
                </div>
            </form>
          </div>
          <div class="col-md-6" id="MB-RTU">
            <form action="" class="form-horizontal form-row-seperated">
              <div class="form-group">
                  <label class="col-sm-4 control-label">
                      Ip</label>
                  <div class="col-sm-6">
                      <label class="form-control">{{accessdev.ip}}</label>
                      <!-- <input type="text" ng-model="accessdev.ip" class="form-control"   ng-disabled="true" required/> -->
                  </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">
                    接入注册包</label>
                <div class="col-sm-6">
                    <label class="form-control">{{equipmentId}}</label>
                    <!-- <input type="text" ng-model="equipmentId" class="form-control"  ng-disabled="true" required/> -->
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">
                    端口号</label>
                <div class="col-sm-6">
                    <label class="form-control">{{accessdev.port}}</label>
                    <!-- <input type="text" ng-model="accessdev.port" class="form-control"  ng-disabled="true" required/> -->
                </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-4 control-label">
                      心跳包格式（长度<20）</label>
                  <div class="col-sm-6">
                      <input type="text" ng-model="heartData" class="form-control"  required/>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-4 control-label">
                    采集频率
                  </label>
                  <div class="col-sm-6">
                      <div class="input-group">
                          <input type="number" ng-model="modbusRtuPeriod" class="form-control col-sm-5"  required/>
                          <span class="input-group-addon">秒</span>
                      </div>
                  </div>
              </div>
            </form>
            <div class="col-md-6 col-md-offset-6">
              <a href="#" role="button" class="btn btn-sm btn-success sbold green margin-bottom" ng-click='saveConnectInfo()'><i class="fa fa-edit"></i>保存
              </a>
              <a href="#" role="button" class="btn btn-sm btn-success sbold green margin-bottom" ng-click='goback()'><i class="fa fa-reply"></i>返回
              </a>
            </div>
          </div>
          <div class="col-md-6" id="JK">
            <form action="" class="form-horizontal form-row-seperated">
              <div class="form-group">
                  <label class="col-sm-4 control-label">
                      库智设备ID</label>
                  <div class="col-sm-6">
                      <input type="text" ng-model="grm" class="form-control"  required/>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-4 control-label">
                    设备密码
                  </label>
                  <div class="col-sm-6">
                      <input type="text" ng-model="grmPassword" class="form-control"  required/>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-4 control-label">
                    采集频率
                  </label>
                  <div class="col-sm-6">
                      <div class="input-group">
                          <input type="number" ng-model="grmPeriod" class="form-control col-sm-5"  required/>
                          <span class="input-group-addon">秒</span>
                      </div>
                  </div>
              </div>
            </form>
            <div class="col-md-6 col-md-offset-6">
              <a href="#" role="button" class="btn btn-sm btn-success sbold green margin-bottom" ng-click='saveConnectInfo()'><i class="fa fa-edit"></i>保存
              </a>
              <a href="#" role="button" class="btn btn-sm btn-success sbold green margin-bottom" ng-click='goback()'><i class="fa fa-reply"></i>返回
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- <div class="portlet light portlet-fit portlet-datatable bordered">
      <div class="portlet-title">
          <div class="caption">
              <i class="icon-settings font-dark"></i>传感器设置
          </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div id="myModal_setSeneorJK" class="modal fade" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <h4 class="modal-title">读写指令设置</h4>
                      </div>
                      <div class="modal-body form skin skin-line">
                          <form action="" class="form-horizontal form-row-seperated" name="sensorform2" role="form">
                              <input type="hidden" name="equipmentId" ng-model="sensor.equipmentId">
                              <input type="hidden" name="equipmentModelPropertyId" ng-model="sensor.equipmentModelPropertyId">
                              <input type="hidden" ng-model="sensor.grmAction"  class="form-control"/>
                              <div class="form-group">
                                  <label class="col-sm-4 control-label">
                                      变量名</label>
                                  <div class="col-sm-6">
                                      <input type="text" ng-model="sensor.grmVariable" class="form-control" required/>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="col-sm-4 control-label">
                                      变量名读写顺序</label>
                                  <div class="col-sm-4">
                                      <div class="input-group">
                                        <input type="text" ng-model="sensor.grmVariableOrder" class="form-control col-sm-3" required/>
                                      </div>
                                  </div>
                                  <a id="addConversionbtn" href="#" ng-click="addDataConversioin()" class="btn btn-sm btn-success sbold blue "><i class="fa fa-balance-scale"></i> 添加参数映射
                                  </a>
                              </div>

                              <div class="form-group last conversion-view">
                                  <label class="col-sm-4 control-label">原始值</label>
                                  <div class="col-sm-5">
                                    <div class="input-group">
                                      <input type="number" ng-model="sensor.isl" class="form-control col-sm-2" />
                                      <span class="input-group-addon">~</span>
                                      <input type="number" ng-model="sensor.ish" class="form-control col-sm-2" />
                                    </div>
                                    <h6>参数读取值的范围 如 0~1000</h6>
                                  </div>
                              </div>
                              <div class="form-group last conversion-view">
                                  <label class="col-sm-4 control-label">工程值</label>
                                  <div class="col-sm-5">
                                    <div class="input-group">
                                      <input type="number" ng-model="sensor.osl" class="form-control col-sm-2" />
                                      <span class="input-group-addon">~</span>
                                      <input type="number" ng-model="sensor.osh" class="form-control col-sm-2" />
                                    </div>
                                    <h6>参数真实值的范围 如 0~100，表示真实值对应读取值的0.1倍</h6>
                                  </div>
                                  <a href="#" ng-click="removeDataConversioin()" class="btn btn-sm btn-success sbold blue "> 删除映射
                                  </a>
                              </div>
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn grey-salsa btn-outline " ng-click='setSensorJKDismiss()' >取消</button>
                          <button type="button" class="btn green"  ng-click='saveSensor()' ng-disabled="sensorform2.$invalid">
                              <i class="fa fa-check"></i> 确定 </button>
                      </div>
                  </div>
              </div>
          </div>
          <div id="myModal_setSeneor" class="modal fade" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <h4 class="modal-title">读写指令设置</h4>
                      </div>
                      <div class="modal-body form skin skin-line">
                          <form action="" class="form-horizontal form-row-seperated" name="sensorform" role="form">
                              <input type="hidden" name="equipmentId" ng-model="sensor.equipmentId">
                              <input type="hidden" name="equipmentModelPropertyId" ng-model="sensor.equipmentModelPropertyId">
                              <div class="form-group">
                                  <label class="col-sm-4 control-label">
                                      从站地址</label>
                                  <div class="col-sm-6">
                                      <input type="text" ng-model="sensor.salveId" placeholder="地址范围 1 - 247" class="form-control" required/>
                                  </div>
                              </div>
                              <div class="form-group last">
                                  <label class="col-sm-4 control-label">读取模式</label>
                                  <div class="col-sm-4">
                                      <select class="form-control" ng-model="sensor.functionCode"  ng-options="o.id as o.name for o in codeLists" required></select>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-4 control-label">
                                      参数地址</label>
                                  <div class="col-sm-6">
                                      <input type="text" ng-model="sensor.address" class="form-control" required/>
                                  </div>
                              </div>


                              <div class="form-group last">
                                  <label class="col-sm-4 control-label">数据格式</label>
                                  <div class="col-sm-4">
                                      <select class="form-control" ng-model="sensor.dataFormat" ng-change="selectFormat()"  ng-options="o.id as o.name for o in formatLists" required></select>
                                  </div>
                              </div>
                              <div class="form-group last" id="bitcode">
                                  <label class="col-sm-4 control-label">字节顺序</label>
                                  <div class="col-sm-4">
                                      <select class="form-control" ng-model="sensor.bitOrder"  ng-options="o.id as o.name for o in bitorderLists" required></select>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="col-sm-4 control-label">
                                      采集周期</label>
                                  <div class="col-sm-4">
                                      <div class="input-group">
                                        <input type="text" ng-model="sensor.period" class="form-control col-sm-3" required/>
                                        <span class="input-group-addon">秒</span>
                                      </div>
                                  </div>
                                  <a id="addConversionbtn" href="#" ng-click="addDataConversioin()" class="btn btn-sm btn-success sbold blue "><i class="fa fa-balance-scale"></i> 添加参数映射
                                  </a>

                              </div>

                              <div class="form-group last conversion-view">
                                  <label class="col-sm-4 control-label">原始值</label>
                                  <div class="col-sm-5">
                                    <div class="input-group">
                                      <input type="number" ng-model="sensor.isl" class="form-control col-sm-2" />
                                      <span class="input-group-addon">~</span>
                                      <input type="number" ng-model="sensor.ish" class="form-control col-sm-2" />
                                    </div>
                                    <h6>参数读取值的范围 如 0~1000</h6>
                                  </div>
                              </div>
                              <div class="form-group last conversion-view">
                                  <label class="col-sm-4 control-label">工程值</label>
                                  <div class="col-sm-5">
                                    <div class="input-group">
                                      <input type="number" ng-model="sensor.osl" class="form-control col-sm-2" />
                                      <span class="input-group-addon">~</span>
                                      <input type="number" ng-model="sensor.osh" class="form-control col-sm-2" />
                                    </div>
                                    <h6>参数真实值的范围 如 0~100，表示真实值对应读取值的0.1倍</h6>
                                  </div>
                                  <a href="#" ng-click="removeDataConversioin()" class="btn btn-sm btn-success sbold blue "> 删除映射
                                  </a>
                              </div>
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn grey-salsa btn-outline " ng-click='setSensorDismiss()' >取消</button>
                          <button type="button" class="btn green"  ng-click='saveSensor()' ng-disabled="sensorform.$invalid">
                              <i class="fa fa-check"></i> 确定 </button>
                      </div>
                  </div>
              </div>
          </div>

          <table ng-table="tableParams"  class="table table-striped table-bordered table-hover table-checkable order-column" style="margin-top: 5px">
              <tbody>
                  <tr class="odd gradeX" ng-repeat="param in  $data" style=" text-align: center;">
                      <td header="'headerCheckbox.html'"><input type="checkbox" ng-model="checkboxes.items[param.equipmentModelPropertyId]" /></td>
                      <td title="'参数名称'" class="center">{{param.name}}</td>
                      <td title="'数据类型'" class="center">{{param.dataTypename}}</td>
                      <td title="'数据展示'" class="center">{{param.displayname}}</td>
                      <td title="'读写指令'">
                          <div class="margin-bottom-5">
                            <a href="#" data-toggle="modal" ng-click="showSetSeneor(param)" class="btn btn-sm btn-success sbold blue "><i class="fa fa-plus"></i>设置
                            </a>
                          </div>

                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
  </div> -->
</div>

<div id="myModal_alert" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">{{message}}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green"  ng-click='disalert()'>
                    <i class="fa fa-check"></i> 确定 </button>
            </div>
        </div>
    </div>
</div>
