<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="devopt.html">设备监控</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>地图模式</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <a ui-sref="device.monitor" class="btn red btn-sm btn-outline">
                <i class="icon-shield"></i> 列表模式
            </a>
        </div>
    </div>
</div>
<br class="">
<div class="row" style="height:auto">
    <div class="col-md-12" id="mapContainer" style="height:0px;padding-bottom:50%">
    </div>
</div>
