<div auto-height class="col-md-12 screenContainer" ng-click="tofullsreen()" style="background-color:#626161">
  <div class="col-md-6" style="height:60%;margin-top:20px">
        <div class="bgContainer" style="height:100%;border-radius:10px;background-color:#77767a;">
          <div class="text-center col-md-8" id="pie-pm25"></div>
        </div>
  </div>

  <div class="col-md-6" style="height:60%;margin-top:20px">
    <div class="col-md-6" style="height:50%;padding: 0 5px  5px 0 ">
      <div class="smContainer" style="height:100%;border-radius:10px;background-color:#77767a">
          <div class="text-center col-md-8" id="pie-co2"></div>
      </div>
    </div>
    <div class="col-md-6" style="height:50%;padding: 0 0 5px  5px">
      <div class="smContainer" style="height:100%;border-radius:10px;background-color:#77767a">
          <div class="text-center col-md-8" id="pie-Anion"></div>
      </div>
    </div>
    <div class="col-md-6" style="height:50%;padding: 5px  5px 0 0">
      <div class="easy-pie-chart" style="height:100%;border-radius:10px;background-color:#77767a">
          <div class="number Temperature" data-percent="0">
              <span class='pie-value'></span>
            </div>
      </div>
    </div>
    <div class="col-md-6" style="height:50%;padding: 5px 0 0  5px">
      <div class="easy-pie-chart" style="height:100%;border-radius:10px;background-color:#77767a">
          <div class="number Humidity" data-percent="0">
              <span class='pie-value'></span>
            </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="height:30%;margin-top: 20px">
    <div style="height:100%;border-radius:10px;background-color:#77767a">
    </div>
  </div>
</div>
