<!-- <body> -->
    <div id="myModal_autocomplete" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">用户协议</h4>
                </div>
                <div class="modal-body">
                    <article>
                        <h3>导言</h3>
                        <p>尊敬的库云物联云平台用户，感谢您选择库云物联云平台所提供的设备接入、设备管理、设备监控、设备运维等服务。 您需要在认真阅读、充分理解本协议，并按照注册流程完成注册的情况下，才能使用库云物联云平台所提供的服务。当您在注册过程中勾选“同意服务条款”即表示您已经了解并完全接受本服务条款。若您无法接受本服务条款，请停止使用库云物联云平台所提供的服务，本协议适用于任何库云物联云平台所提供的服务。
                        </p>
                        <h3>服务内容</h3>
                          <p>
                            库云物联云平台所提供的服务内容包括为您提供的设备接入、设备管理、设备监控、设备运维等服务，以及在正式使用库云物联云平台服务时拟签订的商务合同中所规定的服务内容，并包括在服务合同限期内各项服务及软件产品服务的升级和更新。
                          </p>
                          <h3>合同签署</h3> 
                        <p>
                            在您正式付费使用库云物联云平台的服务前，我们需要跟您签订正式的软件服务合同。您可以选择以下任意一种形式进行合同的签署： 1、通过在线的形式进行授权或者电子签名签署； 2、通过传真、扫描件或者邮寄纸质合同的方式签署。

                        </p>
                        <h3>条款变更</h3> 
                        <p>
                            库云物联有权利对本服务条款进行任何修改。如本条款的任何内容发生变动，库云物联云平台将在其网站版面公告或正式信函的方式通知您所发生的任何变动。

                        </p>
                        <h3>使用规则</h3>
                        <p>
                            在您使用库云物联云平台时，您需要承诺： 1、遵守包括但不仅限于国家的各种法律、法规、政策以及可适用的国际条约或公约规定； 2、遵守所有与本服务有关的合同、条款、公告或者其他形式的约定； 3、确保您在注册和使用库云物联云平台时所填写的注册信息真实有效； 4、不得利用库云物联云平台进行包括但不仅限于存储、传播任何反动的、反社会的、侵害国家安全的、具有赌博性质的、骚扰性的、色情淫秽的或其他任何非法的信息资料； 5、不以任何形式危害未成年人； 6、不得试图利用库云物联云平台进行任何不利于平台发展的行为；
                            如果库云物联云平台发现您违反上述条款的约定，或者接到第三方的投诉举报后，有权根据情况采取相应的处理措施，包括但不限于立即终止服务或删除相应信息等。

                        </p>
                        <h3>数据隐私</h3>
                        <p>
                            1、库云物联云平台具备完善的权限管理功能，您可以对各类数据资料授予不同的访问权限，而库云物联云平台将按照您所设置的权限赋予相应数据资料的访问范围； 2、库云物联云平台不收集有关您的任何特定信息，除非您特意提供了此类信息或者您授权库云物联云平台收集此类信息。除用户注册信息之外，库云物联云平台所记录和保存的信息包括：时间、浏览器类型、浏览器语言、用户IP地址、操作系统、软硬件特征信息及您需求的网页记录等。这些数据将用于为您提供详尽的用户使用报告和为您提供更加优质的服务； 3、在不透露您任何隐私资料的前提下，库云物联云平台会对整体用户访问量、访问时段、设备总访问量、设备地域统计等行为数据进行分析，进而为您提供更好的服务；
                            4、库云物联云平台可能会与第三方合作向您提供相关的服务，在此情况下，如该第三方同意与库云物联云平台同等的承担保护用户隐私的责任，则库云物联云平台可将您的用户信息提供给该第三方； 5、如果是因为您或者您的成员的失误造成的损失，包括但不限于管理员的操作失误、用户的操作失误以及帐号/密码泄露等，库云物联云平台不承担任何责任。
                        </p>
                        <h3>保密条款</h3>
                        <p>
                            1、保密信息指双方合作过程中由披露方向接收方披露的所有保密信息，包括但不限于商业计划、经营策略、经营状况、客户信息、合同信息、优惠信息、技术内容、产品构思、服务价格、职员名单、操作手册等； 2、保密信息还包括您使用库云物联云平台服务过程中上传或产生的与您经营秘密有关的数据及信息内容等，以及您使用库云物联云平台服务过程中所接触到的与库云物联云平台经营秘密有关的数据及信息内容等； 3、非经对方同意，双方不得将保密信息向第三方或者公众透露，否则应承担由此给保密信息所有方造成的损失。

                        </p>
                        <h3>免责声明</h3>
                        <p>
                            您需要自行承担下述责任和赔偿费用： 1、您通过库云物联云平台的服务存储、上传或者传播的数据及信息内容，侵害到其他人任何权益导致任何第三人提出的索赔或请求； 2、您违反本条款导致任何第三人提出的索赔或请求； 3、您违反本条款导致的任何法律责任； 4、您在库云物联云平台上所存储的数据资料所导致的任何法律责任。

                        </p>
                        <h3>不可抗力</h3>
                        <p>
                            您需要自行承担下述责任和赔偿费用： 1、因不可抗力或者其他意外事件，使得本服务条款的履行不可能、不必要或者无意义的，遭受不可抗力、意外事件的一方不承担责任； 2、不可抗力、意外事件是指不能预见、不能克服并不能避免且对一方或双方当事人造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行等以及社会事件如战争、动乱、政府行为、电信主干线路中断、黑客、网路堵塞和政府管制等。

                        </p>
                        <h3>其他</h3>
                        <p>
                            其他描述未尽的事宜另行约定。

                        </p>

                    </article>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" data-dismiss="modal">
                          <i class="fa fa-check"></i> 我已经阅读完毕 </button>
                </div>
            </div>
        </div>
    </div>
    <div id="loginContainer">
        <div id="ie6-warning">您正在使用 Internet Explorer，在本页面的显示效果可能有差异。建议您下载
            <a href="http://w.x.baidu.com/alading/anquan_soft_down_ub/14744">Chrome</a>浏览器
        </div>
        <div id="header">
            <div class="header-layout y-row">
                <a class="logo"><img style="width:200px" src="../assets/apps/login_files/logo.svg"></a>
                <div class="header-nav">
                    <span><a style="color: #444;" href="http://www.coderise.cn/col.jsp?id=112">App下载</a></span>
                    <span><img src="../assets/apps/login_files/code.svg"></span>
                </div>
            </div>
        </div>
        <div ng-controller="RegistController" style="background-color:#efefef;">

            <div style="min-width: 400px;max-width:800px; width: 30%; margin: 10px auto; ">

                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>用户注册 </div>
                    </div>
                    <div class="portlet-body form">

                        <form action="#" class="form-horizontal form-bordered" name="form" ng-submit="false">
                            <div class="form-body">
                                <div class="form-group ">
                                    <label class="control-label col-md-3">用户名</label>
                                    <div class="col-md-8">
                                        <div class="input-group" style="text-align:left">
                                            <input type="text" class="form-control" name="account" ng-model="formData.account" required ng-pattern="/[A-Za-z]{4,20}$/">
                                            <span class="input-group-btn">
                                                  <a href="javascript:;" class="btn green"  ng-bind="btncheckAccount" ng-click="checkAccount()">
                                                  </a>
                                              </span>
                                        </div>
                                        <span style="color:#ffc940" ng-show="form.account.$dirty && form.account.$invalid">用户名为4-20位字母组成</span>

                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label col-md-3">密码</label>
                                    <div class="col-md-8">
                                        <div class="input-group" style="text-align:left">
                                            <input type="{{inputType}}" class="form-control" name="password" ng-model="formData.password" required ng-pattern="/(?=.*\d)(?=.*[a-zA-Z]).{6,20}/">
                                            <span class="input-group-btn">
                                                  <a href="javascript:;" >
                                                      <i class="{{eyeIcon}} btn btn-link" ng-click="hideShowPassword()"></i>
                                                  </a>
                                            </span>
                                        </div>
                                        <span style="color:#ffc940" ng-show="form.password.$dirty && form.password.$invalid">密码为6-20位字母与数字组合组成</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">姓名</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="name" ng-model="formData.name" required>
                                        <span style="color:#ffc940" ng-show="form.name.$dirty && form.name.$invalid">姓名不能为空</span>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label col-md-3">公司名称</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="company" ng-model="formData.company" required>
                                        <span style="color:#ffc940" ng-show="form.company.$dirty && form.company.$invalid">公司名称不能为空 </span>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label class="control-label col-md-3">邮箱</label>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control" name="email" ng-model="formData.email" required>
                                        <span style="color:#ffc940" ng-show="form.email.$dirty && form.email.$invalid">请填写有效的邮箱</span>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label col-md-3">电话</label>
                                    <div class="col-md-8">
                                        <div class="input-group" style="text-align:left">
                                            <input type="text" class="form-control" name="phone" ng-model="formData.phone" required ng-pattern="/^1[34578]\d{9}$/">
                                            <span class="input-group-btn">
                                                  <a href="javascript:;" class="btn green" ng-bind="btndescription" ng-click="send.ToSend()" ng-disabled="send.canClick">
                                                  </a>
                                              </span>
                                        </div>
                                        <span style="color:#ffc940" ng-show="form.phone.$dirty && form.phone.$invalid">请填写11位有效手机号码</span>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label col-md-3">验证码</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="code" ng-model="formData.code" required>
                                        <span style="color:#ffc940" ng-show="form.code.$dirty && form.code.$invalid">验证码不能为空</span>
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" name="code" ng-model="formData.industry">
                                <!-- <div class="form-group">
                                    <label class="control-label col-md-3">行业</label>
                                    <div class="col-md-8">
                                        <select class="form-control select2" name="industry"  ng-model="formData.industry" required data-style="btn-info">
                                              <option value="1">制冷行业</option>
                                              <option value="2">净水行业</option>
                                              <option value="1">其他</option>
                                        </select>
                                        <span style="color:#ffc940" ng-show="form.industry.$dirty && form.industry.$invalid">请选择行业</span>

                                    </div>
                                </div> -->
                                <div class="form-group" style="padding-top: 10px;height:40px">
                                    <label class=" col-md-offset-3  mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" name="agree" ng-model="formData.agree" value="1" />同意
                                        <a href="/#myModal_autocomplete"  data-toggle="modal">用户协议
                                            </a>
                                        <span></span>
                                    </label>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-4 col-md-9">
                                            <button type="button" ng-click="submitForm()" class="btn green" ng-disabled="!formData.agree ||  form.$invalid">
                                            <i class="fa fa-check"></i> 注册</button>
                                            <button type="button" ng-click="submitCancel()" class="btn default">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </body> -->
