<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <!-- <a href="index.html">系统配置</a> -->
            <span>系统配置</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <!-- <a href="index.html">系统配置</a> -->
            <span>帮助</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>DTU模块设置</span>
        </li>
    </ul>
    <div class="page-toolbar">
      <div class="btn-group pull-right" style="margin-right: 100px">
        <a href="#" role="button" class="btn green btn-sm btn-outline center"  ng-click="gotoHelpSetRTU()">
          新窗口查看
        </a>

      </div>

    </div>
</div>

<br class="">

<div class="row">
    <div class="panel-group accordion scrollable" id="accordion1">
        <div class="panel panel-default purple">
            <div class="panel-heading purple">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="/#collapse_1_1">
                        <i class="icon-settings font-dark"></i> 有人DTU配置
                    </a>
                </h4>
            </div>
            <div id="collapse_1_1" class="panel-collapse in">
                <div class="panel-body">
                    <p>完成平台设备新建，并使用RTU方式设置平台设备连接后，通过配置DTU就能够将真实的设备接入平台。有人DTU设置界面如下：</p>
                    <img src="../assets/pages/img/help/youren1.jpg" style="height: 600px; margin: 0 auto; padding: 10px" class="img-responsive pic-bordered" alt="" />

                </div>
            </div>
        </div>
        <div class="panel panel-default purple">
            <div class="panel-heading purple">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="/#collapse_1_2">
                        <i class="icon-settings font-dark"></i> 四信DTU配置
                    </a>
                </h4>
            </div>
            <div id="collapse_1_2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>完成平台设备新建，并使用RTU方式设置平台设备连接后，通过配置DTU就能够将真实的设备接入平台。四信DTU设置界面如下：</p>
                  <img src="../assets/pages/img/help/sixin1.png" style="height: 600px; margin: 0 auto; padding: 10px" class="img-responsive pic-bordered" alt="" />
                  <img src="../assets/pages/img/help/sixin2.jpg" style="height: 600px; margin: 0 auto; padding: 10px" class="img-responsive pic-bordered" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
