<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <!-- <a href="index.html">系统配置</a> -->
            <span>系统配置</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>帮助</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>设备接入</span>
        </li>
    </ul>
</div>
<br class="">

<div class="row">
    <div class="col-md-12">
      <form class="form-horizontal form-row-seperated" action="#">
          <div class="portlet light portlet-fit portlet-datatable bordered">
              <div class="portlet-title">
                  <div class="caption">
                      <i class="icon-settings font-dark"></i>DTU设置
                  </div>
                  <div class="btn-group pull-right">
                    <a href="#" role="button" class="btn green btn-sm btn-outline " ng-click="gotoHelpConnectRTU()">
                      新窗口查看
                    </a>
                  </div>
              </div>
              <div class="portlet-body">
                  <div class="row">
                      <div  class="col-md-10 col-md-offset-1" >
                          <p class="bg-primary">设备接入指导</p>
                          <p>1.1 设备接入流程</p>
                          <img src="../assets/pages/img/help/1.jpg" style="height: 600px; margin: 0 auto; padding: 10px" class="img-responsive pic-bordered" alt="" />

                          <p>1.2 DTU设置信息</p>
                          <p>服务中心：</p>
                              <p class="col-sm-offset-1">IP: 118.89.140.11</p>
                              <p class="col-sm-offset-1">Port: 8037</p>
                          <p>注册信息：</p>
                              <p class="col-sm-offset-1">总长度 10个字符(以ascii方式发送)，以@开头，以#结尾；</p>
                              <p class="col-sm-offset-1">中间为8位数字，前四位用户编号*，后四位dtu编号*，建立连接时发送一次即可</p>
                          <p>例：</p>
                              <p class="col-sm-offset-1">@00010001#：客户0001的0001个dtu。（*注：当前请联系销售人员获取用户编号和dtu编号，后期支持在线申请）</p>
                          <p>心跳包：</p>
                                <p class="col-sm-offset-1">内容同注册信息</p>

                          <p>发送间隔</p>
                                <p class="col-sm-offset-1">5分钟（300秒）。（注：DTU模块目前仅支持modbus协议。各种PLC协议请另选模块接入。）</p>
                          <p>1.3 有人DTU设置方法</p>
                              <img src="../assets/pages/img/help/2.jpg" style="height: 600px; margin: 0 auto; padding: 10px" class="img-responsive pic-bordered" alt="" />

                          <p>1.4 四信DTU设置方法</p>
                              <!-- <h5 style="height: 600px; margin: 0 auto; padding: 10px">第一步</h5> -->
                              <img src="../assets/pages/img/help/3.jpg" style="height: 600px; margin: 0 auto; padding: 10px" class="img-responsive pic-bordered" alt="" />
                              <img src="../assets/pages/img/help/4.jpg" style="height: 600px; margin: 0 auto; padding: 10px" class="img-responsive pic-bordered" alt="" />
                      </div>
                  </div>
              </div>
          </div>
      </form>
    </div>
</div>
