<!-- <div class="page-container">
    <div data-ng-include="'tpl/sidebar-setting.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper">
    </div> -->

    <div class="page-content-wrapper">
        <div class="page-content">
            <div data-ng-include="'tpl/theme-panel.html'" data-ng-controller="ThemePanelController" class="theme-panel hidden-xs hidden-sm" style="margin-top: -28px"> </div>
            <div ui-view class="fade-in-up"></div>
        </div>
    </div>
    <!-- <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>
    <div data-ng-include="'tpl/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div> -->
<!-- </div> -->
